<div class="row TabCardDesign">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="cardInnerVehicle">
                    <div class="cardHeaderJustify">
                        <h4 class="card-title">Additional Information</h4>
                        <div class="additionalDate">
                            <span class="">Last Updated</span>
                            <span class="ms-3 fw-bold">Jun 10, 2024</span>
                        </div>
                    </div>
                    <div class="additionalArea">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                                <div class="card cardAddInfo">
                                    <div class="card-body">
                                        <div class="cardInnerAddition">
                                            <div class="subAddition">
                                                <p class="smallAddIcon wheelBlueBg"><i class="material-symbols-outlined">person</i></p>
                                            </div>
                                            <div class="subAddition lineHeight">
                                                <p class="textLight">Lein Holder</p>
                                                <p>Bank of America</p>
                                            </div>
                                            <div class="subAddition lineHeight">
                                                <p class="textLight">Date</p>
                                                <p>Aug 24, 2023</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                                <div class="card cardAddInfo">
                                    <div class="card-body">
                                        <div class="cardInnerAddition">
                                            <div class="subAddition">
                                                <p class="smallAddIcon wheelPurpleBg"><i class="material-symbols-outlined">calendar_month</i></p>
                                            </div>
                                            <div class="subAddition lineHeight">
                                                <p class="textLight">Impound State</p>
                                                <p><span class="dot dot-danger"></span> Impounded</p>
                                            </div>
                                            <div class="subAddition lineHeight">
                                                <p class="textLight">Impound Date</p>
                                                <p>Not Applicable</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                                <div class="card cardAddInfo">
                                    <div class="card-body">
                                        <div class="cardInnerAddition">
                                            <div class="subAddition">
                                                <p class="smallAddIcon wheelDangerBg"><i class="material-symbols-outlined">person_check</i></p>
                                            </div>
                                            <div class="subAddition lineHeight">
                                                <p class="textLight">Stolen Summary</p>
                                                <p><span class="dot dot-success"></span>Active</p>
                                            </div>
                                            <div class="subAddition lineHeight">
                                                <p class="textLight">Date</p>
                                                <p>Aug 24, 2023</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                                <div class="card cardAddInfo">
                                    <div class="card-body">
                                        <div class="cardInnerAddition">
                                            <div class="subAddition">
                                                <p class="smallAddIcon wheelSuccessBg"><i class="material-symbols-outlined">credit_card</i></p>
                                            </div>
                                            <div class="subAddition lineHeight">
                                                <p class="textLight">Export Date</p>
                                                <p>Aug 24, 2023</p>
                                            </div>
                                            <div class="subAddition lineHeight">
                                                <p class="textLight">Export State</p>
                                                <p>Not Applicable</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="card cardAddInfo">
                                    <div class="card-body">
                                        <div class="cardInnerAddition ">
                                            <div class="subAddition addGapInfo">
                                                <div class="IconArea">
                                                    <p class="smallAddIcon wheelSuccessBg"><i class="material-symbols-outlined">calendar_month</i></p>
                                                </div>
                                                <div class="IconBody lineHeight">
                                                    <p class="textLight">Ebay Auction Item Number</p>
                                                    <p>June 15, 2024</p>
                                                </div>

                                            </div>
                                            <div class="subAddition lineHeight">
                                                <p class="textLight">Date</p>
                                                <p>Aug 24, 2023</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="card cardAddInfo">
                                    <div class="card-body">
                                        <div class="cardInnerAddition">
                                            <div class="subAddition addGapInfo">
                                                <div class="IconArea">
                                                    <p class="smallAddIcon wheelDangerBg"><i class="material-symbols-outlined">lock</i></p>
                                                </div>
                                                <div class="IconBody lineHeight">
                                                    <p class="textLight">Recall Reason</p>
                                                    <p>Not Applicable</p>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 lineHeight">
                                                    <p class="textLight">Customer Inquiry</p>
                                                    <p>Not Applicable</p>
                                                </div>
                                                <div class="col-md-6 lineHeight">
                                                    <p class="textLight">Date</p>
                                                    <p>June 15, 2024</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="card cardAddInfo">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 pb-3 lineStatement">
                                                <p class="textLight">
                                                    Declaration of Sale Statement
                                                </p>
                                                <p class="text-normal">
                                                    I, John Doe, affirm that I am the legal owner of this
                                                    2015 BMW 328i, VIN WBA3A5C57CF123456, and have the right
                                                    to sell it. The Vehicle is sold "as is" without any warranties, and
                                                    I have disclosed all known issues.
                                                </p>
                                            </div>
                                            <div class="col-lg-6 col-md-6 lineHeight">
                                                <p class="textLight">Seller Signature</p>
                                                <p>John Doe</p>
                                            </div>
                                            <div class="col-lg-6 col-md-6 lineHeight">
                                                <p class="textLight">Date</p>
                                                <p>June 15, 2024</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>