<div class="card ProfileSection" role="region" aria-labelledby="profileDetails">
  <div class="card-Profileinner">
    <div class="row">
      <div class="col-md-10">
        <h1 id="profileDetails">Profile Details</h1>
        <div class="Profile-Inner">

          <form [formGroup]="profileForm" aria-labelledby="profileFormDescription">
            <!-- Profile Photo -->
            <div class="profileHead">
              <div class="profileImage">
                <div class="image">
                  <img 
                    [src]="profile" 
                    class="profileImg" 
                    alt="Profile photo of {{profileForm.controls['name'].value}} {{profileForm.controls['lname'].value}}" />
                </div>
                <div class="nameSec">
                  <h6>{{profileForm.controls['name'].value}} {{profileForm.controls['lname'].value}}</h6>
                  <p><span>{{profileForm.controls['email'].value}}</span></p>
                </div>
              </div>
              <div class="profileBtn">
                <button 
                  type="submite" 
                  routerLink="/user-profile" 
                  class="btn btn-primary" 
                  aria-label="Edit profile">
                  Edit
                </button>
              </div>
            </div>

            <!-- User Details -->
            <div class="row FormInnerInput">
              <div class="col-md-6">

                <div class="mb-4">
                  <label for="name" class="form-label">First Name</label>
                  <input 
                    type="text" 
                    class="form-control modernInput" 
                    id="name" 
                    formControlName="name" 
                    aria-required="true" />
                </div>
                <div class="mb-4">
                  <label for="email" class="form-label">Email</label>
                  <input 
                    type="email" 
                    class="form-control modernInput" 
                    id="email" 
                    formControlName="email" 
                    aria-required="true" />
                </div>
                <div class="mb-4">
                  <label for="company" class="form-label">Company</label>
                  <select 
                    class="form-select modernInput" 
                    id="company" 
                    aria-label="Select company">
                    <option selected>abc techs</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>

              </div>
              <div class="col-md-6">

                <div class="mb-4">
                  <label for="lname" class="form-label">Last Name</label>
                  <input 
                    type="text" 
                    class="form-control modernInput" 
                    id="lname" 
                    formControlName="lname" 
                    aria-required="true" />
                </div>
                <div class="mb-4 passwordFiled">
                  <label for="password" class="form-label">Password</label>
                  <input 
                    [type]="eye ? 'text' : 'password'" 
                    class="form-control modernInput" 
                    id="password" 
                    name="password" 
                    placeholder="*****" 
                    formControlName="password" 
                    aria-required="true" />
                  <span class="passEye">
                    <i 
                      *ngIf="!eye" 
                      class="material-symbols-outlined" 
                      tabindex="0" 
                      role="button" 
                      (click)="showPwd()" 
                      aria-label="Show password">visibility_off</i>
                    <i 
                      *ngIf="eye" 
                      class="material-symbols-outlined" 
                      tabindex="0" 
                      role="button" 
                      (click)="showPwd()" 
                      aria-label="Hide password">visibility</i>
                  </span>
                </div>
                <div class="mb-4">
                  <label for="title" class="form-label">Title</label>
                  <select 
                    class="form-select modernInput" 
                    id="title" 
                    aria-label="Select title">
                    <option selected>Write Here</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>

              </div>
            </div>

            <div class="col-md-12">
              <div class="emailSec my-3">
                <h4>My Email Address</h4>

                <div class="emailInner my-4 d-flex align-items-center">
                  <div class="IconEmail">
                    <img [src]="SmsIcon" alt="Email icon" />
                  </div>
                  <div class="emailName">
                    <p>Bethanie&#64;gmail.com</p>
                    <span>1 month ago</span>
                  </div>
                </div>

                <div class="emailAddress">
                  <button 
                    type="button" 
                    class="btn btnAdd" 
                    aria-label="Add email address">
                    + Add Email Address
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

<app-loader [IsLoading]="isLoading" aria-hidden="true"></app-loader>







