
<div class="conatctwrapper">
<app-front-header></app-front-header>
<div class="container main-Container frontAboutUs">
    <h2 class="mainAboutHead" tabindex="0">About Us</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="aboutImg">
                <img [src]="about1" alt="Overview of motor vehicle fraud solution" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="aboutContentPara">
                <h2 tabindex="0">Overview</h2>
                <p tabindex="0">
                    This solution provides a motor vehicle fraud solution. The technology will allow monitoring of motor
                    vehicle assets using data from multiple government agencies to respond to motor vehicle fraud. This
                    solution aims to track and monitor vehicles at risk of fraud, addressing the inability to detect
                    fraudulent activities quickly. The solution will provide daily and weekly monitoring to protect against
                    fraud threats related to titles, customs exports, impound, and theft activity with the monitored
                    vehicles.
                </p>
                <p class="mt-3" tabindex="0">
                    Motor vehicle fraud is a $8.4 Billion problem on an annual basis, and there is no monitoring solution
                    available on the market today. Nor does any other company have the ability to provide the data for
                    monitoring as being provided.
                </p>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-md-6">
            <div class="aboutList">
                <h2 tabindex="0">Objectives</h2>
                <ul class="ul-aboutSection" role="list">
                    <li tabindex="0">Reduce the incidence of motor vehicle fraud.</li>
                    <li tabindex="0">Provide real-time monitoring and alerts.</li>
                    <li tabindex="0">Integrate data from various government agencies for comprehensive fraud detection.</li>
                    <li tabindex="0">Enhance the efficiency of fraud detection and response.</li>
                    <li tabindex="0">Provide the exclusive largest and most up-to-date insight into fraud trends by state, port,
                        vehicle, or type of fraud.</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="aboutImg">
                <img [src]="about2" alt="Objectives illustration" class="img-fluid" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="aboutImg">
                <img [src]="about3" alt="Fraud monitoring dashboard illustration" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <h2 tabindex="0">Fraud Monitoring</h2>
                <ul class="ul-aboutSection" role="list">
                    <li tabindex="0">Daily Data Integration from Multiple Government Agencies</li>
                    <li tabindex="0">Monitoring and Tracking of Motor Vehicle Assets</li>
                    <li tabindex="0">Instant Access to Single Motor Vehicle Searches</li>
                    <li tabindex="0">Notifications of Activity on Monitored Vehicles</li>
                    <li tabindex="0">Integration with Customs, Export, Theft, Title, and Impound Data</li>
                    <li tabindex="0">Fraud Detection Algorithms and Alerts</li>
                    <li tabindex="0">Dashboards and Visualization of Fraud Trends</li>
                    <li tabindex="0">Customer Motor Vehicle Report Management</li>
                    <li tabindex="0">User Management and Role-Based Access Control</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<app-front-footer></app-front-footer>
</div>