.tabMainCurrentHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: 15px;
  flex-wrap: wrap;
}
.radiusBgTab {
  border-radius: 12px;
}
.updatedHead .textUpdate {
  color: #70728f;
  font-size: 12px;
}
.updatedHead .updateDate {
  color: #4d506b;
  font-size: 14px;
  font-weight: 600;
}
button.accordion-button.tabtitleBtn {
  padding: 24px;
  border-radius: 12px;
  box-shadow: none;
}
.TabTitleStatus {
  border: none;
}
.mainCurrentHead h5 {
  color: #242a41;
  font-size: 18px;
  margin-bottom: 0;
}
.updatedHead {
  display: flex;
  gap: 15px;
  flex-direction: row;
  align-items: center;
}
.currentTabInnerBg {
  border-radius: 4px !important;
  margin: 0 24px 24px 24px;
  padding: 20px;
}
.currentBg {
  background-color: #f2f2f7 !important;
}
.lastBg {
  background-color: #f2f2f7 !important;
}
.tabtitleBtn {
  padding: 0;
  background-color: #fff !important;
}

.innerTabCurrent .statusBody {
  padding-bottom: 24px;
}
.statusBody p.tdHead {
  color: #70728f;
  font-size: 12px;
}
.statusBody p.tdBody {
  color: #4d506b;
  font-size: 14px;
  font-weight: 600;
}
.pbt-0 {
  padding-bottom: 0 !important;
}


.t{
  background-color: red !important;
}
 