<div class="row">
    <div class="col-xl-6 col-md-6">
        <!-- current tab status -->
        <div class="cardWrapper">
            <div class="accordion" id="accordionfirst">
                <div class="accordion-item card radiusBgTab">
                    <div class="TabTitleStatus">
                        <h2 class="accordion-header">
                            <button class="accordion-button tabtitleBtn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <div class="tabMainCurrentHead">
                                    <div class="mainCurrentHead">
                                        <h5>Current Vehicle Title Details</h5>
                                    </div>
                                    <div class="updatedHead">
                                        <p class="textUpdate">Last Updated</p>
                                        <p class="updateDate">Jan 15, 2025</p>
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionfirst">
                            <div class="accordion-body currentTabInnerBg currentBg">
                                <div class="innerTabCurrent">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody">
                                                <p class="tdHead">Status</p>
                                                <p class="tdBody">Current</p>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="statusBody">
                                                <p class="tdHead">State</p>
                                                <p class="tdBody">Armed Forces Amercias</p>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody">
                                                <p class="tdHead">Brand</p>
                                                <p class="tdBody">-</p>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="statusBody">
                                                <p class="tdHead">Make</p>
                                                <p class="tdBody">Chrysler</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody pbt-0">
                                                <p class="tdHead">Model</p>
                                                <p class="tdBody">2010</p>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="statusBody pbt-0">
                                                <p class="tdHead">Title Alert Date</p>
                                                <p class="tdBody">1 May 2010</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item card radiusBgTab">
                    <div class="TabTitleStatus">
                        <h2 class="accordion-header">
                            <button class="accordion-button tabtitleBtn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
                                <div class="tabMainCurrentHead">
                                    <div class="mainCurrentHead">
                                        <h5>Current Vehicle Title Details</h5>
                                    </div>
                                    <div class="updatedHead">
                                        <p class="textUpdate">Last Updated</p>
                                        <p class="updateDate">Jan 15, 2025</p>
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="collapsetwo" class="accordion-collapse collapse " data-bs-parent="#accordionfirst">
                            <div class="accordion-body currentTabInnerBg currentBg">
                                <div class="innerTabCurrent">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody">
                                                <p class="tdHead">Status</p>
                                                <p class="tdBody">Current</p>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="statusBody">
                                                <p class="tdHead">State</p>
                                                <p class="tdBody">Armed Forces Amercias</p>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody">
                                                <p class="tdHead">Brand</p>
                                                <p class="tdBody">-</p>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="statusBody">
                                                <p class="tdHead">Make</p>
                                                <p class="tdBody">Chrysler</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody pbt-0">
                                                <p class="tdHead">Model</p>
                                                <p class="tdBody">2010</p>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="statusBody pbt-0">
                                                <p class="tdHead">Title Alert Date</p>
                                                <p class="tdBody">1 May 2010</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="col-xl-6 col-md-6">
        <!-- history tab status -->
        <div class="cardWrapper">
            <div class="accordion" id="accordionSecond">
                <div class="accordion-item card radiusBgTab">
                    <div class="TabTitleStatus">
                        <h2 class="accordion-header">
                            <button class="accordion-button tabtitleBtn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapsethree" aria-expanded="true" aria-controls="collapsethree">
                                <div class="tabMainCurrentHead">
                                    <div class="mainCurrentHead">
                                        <h5>Title History</h5>
                                    </div>
                                    <div class="updatedHead">
                                        <p class="textUpdate">Last Updated</p>
                                        <p class="updateDate">Jan 13, 2025</p>
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="collapsethree" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionSecond">
                            <div class="accordion-body currentTabInnerBg lastBg">
                                <div class="innerTabCurrent">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 ">
                                            <div class="statusBody">
                                                <p class="tdHead">Status</p>
                                                <p class="tdBody">Brand</p>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="statusBody">
                                                <p class="tdHead">State</p>
                                                <p class="tdBody">Armed Forces Amercias</p>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody">
                                                <p class="tdHead">Brand</p>
                                                <p class="tdBody">Salvage Retention</p>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="statusBody">
                                                <p class="tdHead">Make</p>
                                                <p class="tdBody">Chrysler</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody pbt-0">
                                                <p class="tdHead">Model</p>
                                                <p class="tdBody">2010</p>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="statusBody pbt-0">
                                                <p class="tdHead">Title Alert Date</p>
                                                <p class="tdBody">1 Jan 2010</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item card radiusBgTab">
                    <div class="TabTitleStatus">
                        <h2 class="accordion-header">
                            <button class="accordion-button tabtitleBtn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
                                <div class="tabMainCurrentHead">
                                    <div class="mainCurrentHead">
                                        <h5>Title History</h5>
                                    </div>
                                    <div class="updatedHead">
                                        <p class="textUpdate">Last Updated</p>
                                        <p class="updateDate">Jan 13, 2025</p>
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionSecond">
                            <div class="accordion-body currentTabInnerBg lastBg">
                                <div class="innerTabCurrent">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody">
                                                <p class="tdHead">Status</p>
                                                <p class="tdBody">Brand</p>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="statusBody">
                                                <p class="tdHead">State</p>
                                                <p class="tdBody">Armed Forces Amercias</p>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody">
                                                <p class="tdHead">Brand</p>
                                                <p class="tdBody">Salvage Retention</p>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="statusBody">
                                                <p class="tdHead">Make</p>
                                                <p class="tdBody">Chrysler</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody pbt-0">
                                                <p class="tdHead">Model</p>
                                                <p class="tdBody">2010</p>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="statusBody pbt-0">
                                                <p class="tdHead">Title Alert Date</p>
                                                <p class="tdBody">1 Jan 2010</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item card radiusBgTab">
                    <div class="TabTitleStatus">
                        <h2 class="accordion-header">
                            <button class="accordion-button tabtitleBtn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapsefive" aria-expanded="true" aria-controls="collapsefive">
                                <div class="tabMainCurrentHead">
                                    <div class="mainCurrentHead">
                                        <h5>Title History</h5>
                                    </div>
                                    <div class="updatedHead">
                                        <p class="textUpdate">Last Updated</p>
                                        <p class="updateDate">Jan 13, 2025</p>
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="collapsefive" class="accordion-collapse collapse" data-bs-parent="#accordionSecond">
                            <div class="accordion-body currentTabInnerBg lastBg">
                                <div class="innerTabCurrent">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody">
                                                <p class="tdHead">Status</p>
                                                <p class="tdBody">Brand</p>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="statusBody">
                                                <p class="tdHead">State</p>
                                                <p class="tdBody">Armed Forces Amercias</p>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody">
                                                <p class="tdHead">Brand</p>
                                                <p class="tdBody">Salvage Retention</p>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="statusBody">
                                                <p class="tdHead">Make</p>
                                                <p class="tdBody">Chrysler</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody pbt-0">
                                                <p class="tdHead">Model</p>
                                                <p class="tdBody">2010</p>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="statusBody pbt-0">
                                                <p class="tdHead">Title Alert Date</p>
                                                <p class="tdBody">1 Jan 2010</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>