<div class="row">
    <!-- Current Tab Status (3 Accordions) -->
    <div class="col-xl-6 col-md-6">
        <div class="cardWrapper">
            <div class="accordion" id="accordionfirst">
                <div class="accordion-item card radiusBgTab most-recent-alert" *ngIf="titleData?.current.length">
                    <ng-container *ngFor="let item of titleData.current; let i = index">
                    <div class="TabTitleStatus">
                        <h2 class="accordion-header">
                            <button  class="accordion-button tabtitleBtn"
                                    type="button"
                                    [attr.data-bs-target]="'#collapseOne' + i"
                                    aria-expanded="false"
                                    [attr.aria-controls]="'collapseOne' + i"
                                    data-bs-toggle="collapse">
                                <div class="tabMainCurrentHead">
                                    <div class="mainCurrentHead">
                                        <h5>Title Details</h5>
                                    </div>
                                    <div class="updatedHead">
                                        <p class="textUpdate">Last Updated</p>
                                        <p class="updateDate">{{item?.createdAt | dateFormat:"MMM DD YYYY"}}</p>
                                    </div>
                                </div>
                                
                            </button>
                        </h2>
                        <div  [id]="'collapseOne' + i"
                              class="accordion-collapse collapse show"
                              data-bs-parent="#accordionfirst">
                            <div class="accordion-body currentTabInnerBg currentBg">
                                <div class="innerTabCurrent">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody">
                                                <p class="tdHead">Date</p>
                                                <p class="tdBody"><span [ngClass]="item?.isTitleBrandDate ? ' redDot tableDot' : ''"></span>{{item?.titleBrandDate | dateFormat:"DD MMM YYYY"}}</p>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody">
                                                <!-- <p class="tdHead">Brand Name(s)</p>
                                                <p class="tdBody"><span [ngClass]="titleData?.current?.isBrand ? ' redDot tableDot' : ''"></span>
                                                    {{titleData?.current?.brand ? titleData?.current?.brand?.split(' - ')[0]: " "}} </p> -->
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody pbt-0">
                                                <p class="tdHead">State</p>
                                                <p class="tdBody"> <span [ngClass]="item?.isState ? ' redDot tableDot' : ''"></span>
                                                    {{item?.state ? item?.state : " "}}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </ng-container>
                </div>
                <div class="accordion-item card radiusBgTab most-recent-alert" *ngIf="brandData?.current.length">
                    <ng-container *ngFor="let item of brandData.current; let i = index">
                    <div class="TabTitleStatus">
                        <h2 class="accordion-header">
                            <button class="accordion-button tabtitleBtn" type="button"
                                    [attr.data-bs-target]="'#collapseTwo' + i"
                                    aria-expanded="false"
                                    [attr.aria-controls]="'collapseTwo' + i"
                                    data-bs-toggle="collapse">
                      
                                <div class="tabMainCurrentHead">
                                    <div class="mainCurrentHead">
                                        <h5>Brand Details</h5>
                                    </div>
                                    <div class="updatedHead">
                                        <p class="textUpdate">Last Updated</p>
                                        <p class="updateDate">{{item?.createdAt | dateFormat:"MMM DD YYYY"}}</p>
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div [id]="'collapseTwo' + i" class="accordion-collapse collapse" data-bs-parent="#accordionfirst">
                            <div class="accordion-body currentTabInnerBg currentBg">
                                <div class="innerTabCurrent">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody">
                                                <p class="tdHead">Date</p>
                                                <p class="tdBody"><span [ngClass]="item?.isTitleBrandDate ? ' redDot tableDot' : ''"></span>{{item?.titleBrandDate | dateFormat:"DD MMM YYYY"}}</p>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody">
                                                <p class="tdHead">Brand Name(s)</p>
                                                <p class="tdBody"><span [ngClass]="item?.isBrand ? ' redDot tableDot' : ''"></span>
                                                    {{item?.brand ? item?.brand?.split(' - ')[0]: " "}} </p>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody pbt-0">
                                                <p class="tdHead">State</p>
                                                <p class="tdBody"> <span [ngClass]="item?.isState ? ' redDot tableDot' : ''"></span>
                                                    {{item?.state ? item?.state : " "}}</p>
                                            </div>
                                        </div>
  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </ng-container>
                </div>
                <div class="accordion-item card radiusBgTab most-recent-alert" *ngIf="jsiData?.current.length">
                    <ng-container *ngFor="let item of jsiData.current; let i = index">
                    <div class="TabTitleStatus">
                        <h2 class="accordion-header">
                            <button class="accordion-button tabtitleBtn" type="button" 
                                    [attr.data-bs-target]="'#collapseThree' + i"
                                    aria-expanded="false"
                                    [attr.aria-controls]="'collapseThree' + i"
                                    data-bs-toggle="collapse">
                               
                                <div class="tabMainCurrentHead">
                                    <div class="mainCurrentHead">
                                        <h5>Junk and Salvage Details</h5>
                                    </div>
                                    <div class="updatedHead">
                                        <p class="textUpdate">Last Updated</p>
                                        <p class="updateDate">{{item?.createdAt | dateFormat:"MMM DD YYYY"}}</p>
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionfirst">
                            <div class="accordion-body currentTabInnerBg currentBg">
                                <div class="innerTabCurrent">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody">
                                                <p class="tdHead">Date</p>
                                                <p class="tdBody"><span [ngClass]="item?.isTitleBrandDate ? ' redDot tableDot' : ''"></span>{{item?.titleBrandDate | dateFormat:"DD MMM YYYY"}}</p>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody">
                                                <p class="tdHead">Brand Name(s)</p>
                                                <p class="tdBody"><span [ngClass]="item?.isBrand ? ' redDot tableDot' : ''"></span>
                                                    {{item?.brand ? item?.brand?.split(' - ')[0]: " "}} </p>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody pbt-0">
                                                <p class="tdHead">State</p>
                                                <p class="tdBody"> <span [ngClass]="item?.isState ? ' redDot tableDot' : ''"></span>
                                                    {{item?.state ? item?.state : " "}}</p>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </ng-container>
                </div>
            </div>
            <div *ngIf="!jsiData?.current.length && !brandData?.current.length && titleData?.current.length">
                <span class="title-center-data">
                    <h5>No Change Found</h5>
                </span>
            </div>
        </div>
    </div>
    
    <!-- History Tab Status (3 Accordions) -->
    <div class="col-xl-6 col-md-6">
        <div class="cardWrapper">
            <div class="accordion" id="accordionSecond">
                <div class="accordion-item card radiusBgTab" *ngIf="titleData?.history.length">
                    <ng-container *ngFor="let item of titleData.history; let i = index">
                    <div class="TabTitleStatus">
                        <h2 class="accordion-header">
                            <button class="accordion-button tabtitleBtn" type="button" 
                                    [attr.data-bs-target]="'#collapseFour' + i"
                                    aria-expanded="false"
                                    [attr.aria-controls]="'collapseFour' + i"
                                    data-bs-toggle="collapse">
                           
                                <div class="tabMainCurrentHead">
                                    <div class="mainCurrentHead">
                                        <h5>Title History</h5>
                                    </div>
                                    <div class="updatedHead">
                                        <p class="textUpdate">Last Updated</p>
                                        <p class="updateDate">{{item?.createdAt | dateFormat:"MMM DD YYYY"}}</p>
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div  [id]="'collapseFour' + i" class="accordion-collapse collapse show" data-bs-parent="#accordionSecond">
                            <div class="accordion-body currentTabInnerBg lastBg">
                                <div class="innerTabCurrent">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody">
                                                <p class="tdHead">Date</p>
                                                <p class="tdBody"><span [ngClass]="item?.isTitleBrandDate ? ' redDot tableDot' : ''"></span>{{item?.titleBrandDate | dateFormat:"DD MMM YYYY"}}</p>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody">
                                                <!-- <p class="tdHead">Brand Name(s)</p>
                                                <p class="tdBody"><span [ngClass]="item?.isBrand ? ' redDot tableDot' : ''"></span>
                                                    {{item?.brand ? item?.brand?.split(' - ')[0]: " "}} </p> -->
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody pbt-0">
                                                <p class="tdHead">State</p>
                                                <p class="tdBody"> <span [ngClass]="item?.isState ? ' redDot tableDot' : ''"></span>
                                                    {{item?.state ? item?.state : " "}}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </ng-container>
                </div>
                <div class="accordion-item card radiusBgTab" *ngIf="brandData?.history.length">
                    <ng-container *ngFor="let item of brandData.history; let i = index">
                    <div class="TabTitleStatus">
                        <h2 class="accordion-header">
                            <button class="accordion-button tabtitleBtn" type="button" data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#collapseFive' + i"
                            aria-expanded="false"
                            [attr.aria-controls]="'collapseFive' + i"
                            data-bs-toggle="collapse">
                               
                                <div class="tabMainCurrentHead">
                                    <div class="mainCurrentHead">
                                        <h5>Brand History</h5>
                                    </div>
                                    <div class="updatedHead">
                                        <p class="textUpdate">Last Updated</p>
                                        <p class="updateDate">{{item?.createdAt | dateFormat:"MMM DD YYYY"}}</p>
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div [id]="'collapseFive' + i" class="accordion-collapse collapse" data-bs-parent="#accordionSecond">
                            <div class="accordion-body currentTabInnerBg lastBg">
                                <div class="innerTabCurrent">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody">
                                                <p class="tdHead">Date</p>
                                                <p class="tdBody"><span [ngClass]="item?.isTitleBrandDate ? ' redDot tableDot' : ''"></span>{{item?.titleBrandDate | dateFormat:"DD MMM YYYY"}}</p>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody">
                                                <p class="tdHead">Brand Name(s)</p>
                                                <p class="tdBody"><span [ngClass]="item?.isBrand ? ' redDot tableDot' : ''"></span>
                                                    {{item?.brand ? item?.brand?.split(' - ')[0]: " "}} </p>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody pbt-0">
                                                <p class="tdHead">State</p>
                                                <p class="tdBody"> <span [ngClass]="item?.isState ? ' redDot tableDot' : ''"></span>
                                                    {{item?.state ? item?.state : " "}}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </ng-container>
                </div>
                <div class="accordion-item card radiusBgTab" *ngIf="jsiData?.history.length">
                    <ng-container *ngFor="let item of jsiData.history; let i = index">
                    <div class="TabTitleStatus">
                        <h2 class="accordion-header">
                            <button class="accordion-button tabtitleBtn" type="button" 
                            [attr.data-bs-target]="'#collapseSix' + i"
                            aria-expanded="false"
                            [attr.aria-controls]="'collapseSix' + i"
                            data-bs-toggle="collapse"> 
                            
                                <div class="tabMainCurrentHead">
                                    <div class="mainCurrentHead">
                                        <h5>Junk and Salvage History</h5>
                                    </div>
                                    <div class="updatedHead">
                                        <p class="textUpdate">Last Updated</p>
                                        <p class="updateDate">{{item?.createdAt | dateFormat:"MMM DD YYYY"}}</p>
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div  [id]="'collapseSix' + i" class="accordion-collapse collapse" data-bs-parent="#accordionSecond">
                            <div class="accordion-body currentTabInnerBg lastBg">
                                <div class="innerTabCurrent">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody">
                                                <p class="tdHead">Date</p>
                                                <p class="tdBody"><span [ngClass]="item?.isTitleBrandDate ? ' redDot tableDot' : ''"></span>{{item?.titleBrandDate | dateFormat:"DD MMM YYYY"}}</p>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody">
                                                <p class="tdHead">Brand Name(s)</p>
                                                <p class="tdBody"><span [ngClass]="item?.isBrand ? ' redDot tableDot' : ''"></span>
                                                    {{item?.brand ? item?.brand?.split(' - ')[0]: " "}} </p>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 col-sm-4">
                                            <div class="statusBody pbt-0">
                                                <p class="tdHead">State</p>
                                                <p class="tdBody"> <span [ngClass]="item?.isState ? ' redDot tableDot' : ''"></span>
                                                    {{item?.state ? item?.state : " "}}</p>
                                            </div>
                                        </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
              </ng-container>
            </div>
        </div>
        <div *ngIf="!(jsiData?.history.length) && !(brandData?.history.length) && !(titleData?.history.length)">
            <span class="title-center-data">
                <h5>No History Found</h5>
            </span>
        </div>
    </div>
</div>

<app-loader [IsLoading]="isLoading"></app-loader>