text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.font-1_1 {
  font-size: 1.1em;
}
.font-1_2 {
  font-size: 1.2em;
}
.font-1_3 {
  font-size: 1.3em;
}
.font-1_4 {
  font-size: 1.4em;
}
.font-1_5 {
  font-size: 1.5em;
}
.font-1_6 {
  font-size: 1.6em;
}
.font-1_7 {
  font-size: 1.7em;
}
.font-1_8 {
  font-size: 1.8em;
}
.font-1_9 {
  font-size: 1.9em;
}
.font-2 {
  font-size: 2em;
}
.font-2_1 {
  font-size: 2.1em;
}
.font-2_2 {
  font-size: 2.2em;
}
.font-2_3 {
  font-size: 2.3em;
}
.font-2_4 {
  font-size: 2.4em;
}
.font-2_5 {
  font-size: 2.5em;
}
.font-2_6 {
  font-size: 2.6em;
}
.font-2_7 {
  font-size: 2.7em;
}
.font-2_8 {
  font-size: 2.8em;
}
.font-2_9 {
  font-size: 2.9em;
}
.font-3 {
  font-size: 3em;
}
