@import '../../../content/scss/styles.scss';

.cmp-text-area {
  textarea {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 8px;
  }

  label {
    font-weight: 600;
    display: block !important;
    margin-bottom: 0.5rem;
  }

  .invalid-message {
    width: 100%;
    margin-top: 0.25rem !important;
    font-size: 80%;
    color: $brand-clr;
  }

  .button {
    padding-top: 16.5px !important;
    padding-bottom: 16.5px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }

  small[id*='HelpBlock'] {
    display: block;
  }
}