<footer>
    <div class='footer'>
        <div class="container">
            <div class="footer-contents">
                <ul class='nav-item'>
                    <li>
                        <a href="https://titlealarm.com/about/" target="_blank">About Us</a>
                    </li>
                    <li>
                        <a href="https://titlealarm.com/#apply-today" target="_blank">Contact Us</a>
                    </li>
                    
                    <li>
                        <a href="https://titlealarm.com/privacy/" target="_blank" >Privacy Policy</a>
                    </li>

                    
                </ul>

                <p>VINify. © 2025 All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
