<div class="VehicleMonitoring">
    <div class="card userVehicle">
        <div class="card-left">
            <div class="card-header">
                <div class="cardHeaderStyle">
                    <div class="topVehicleHead">
                        <div class="vehicleTitle">
                            <h4 class="card-title">Vehicle Monitoring and Fraud Detection System</h4>
                            <p>1,036,278 VINs registered</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="tabVehicleSection cardHeaderJustify">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation"><button class="nav-link firstTab active" id="all-tab"
                                data-bs-toggle="tab" data-bs-target="#allTab" type="button" role="tab"
                                aria-controls="allTab" aria-selected="true">All</button></li>
                        <li class="nav-item" role="presentation"><button class="nav-link" id="custom-tab"
                                data-bs-toggle="tab" data-bs-target="#customTab" type="button" role="tab"
                                aria-controls="customTab" aria-selected="false">In Customs</button></li>
                        <li class="nav-item" role="presentation"><button class="nav-link" id="titleFraud-tab"
                                data-bs-toggle="tab" data-bs-target="#titleFraudTab" type="button" role="tab"
                                aria-controls="titleFraudTab" aria-selected="false">Title Changes</button></li>
                        <li class="nav-item" role="presentation"><button class="nav-link" id="impounded-tab"
                                data-bs-toggle="tab" data-bs-target="#impoundedTab" type="button" role="tab"
                                aria-controls="impoundedTab" aria-selected="false">Impounded</button></li>
                        <li class="nav-item" role="presentation"><button class="nav-link lastTab" id="theftRecorded-tab"
                                data-bs-toggle="tab" data-bs-target="#theftRecordedTab" type="button" role="tab"
                                aria-controls="theftRecordedTab" aria-selected="false">Theft Recorded</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="tabBodySection">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="allTab" role="tabpanel" aria-labelledby="all-tab">
                <div class="row TabCardDesign">
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="cardInnerVehicle">
                                <div class="summaryCard cardHeaderJustify">
                                    <p class="font-12">Customs Fraud</p>
                                    <div>
                                        <span class="small-action-btn action-required-button">High Alert</span>
                                    </div>
                                </div>
                                <div class="summaryCard">
                                    <h5>3456</h5>
                                </div>
                                <div class="summaryCard">
                                    <p class="font-12">Last Updated: 24th May - 10:14:24</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="cardInnerVehicle">
                                <div class="summaryCard cardHeaderJustify">
                                    <p class="font-12">Title Fraud</p>
                                    <div>
                                        <span class="small-action-btn textWarning">Medium Alert</span>
                                    </div>
                                </div>
                                <div class="summaryCard">
                                    <h5>3278 Changes</h5>
                                </div>
                                <div class="summaryCard">
                                    <p class="font-12">Last Updated: 24th May - 10:14:24</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="cardInnerVehicle">
                                <div class="summaryCard cardHeaderJustify">
                                    <p class="font-12">Impound </p>
                                    <div>
                                        <span class="small-action-btn action-required-button">High Alert</span>
                                    </div>
                                </div>
                                <div class="summaryCard">
                                    <h5>400</h5>
                                </div>
                                <div class="summaryCard">
                                    <p class="font-12">Last Updated: 24th May - 10:14:24</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="cardInnerVehicle">
                                <div class="summaryCard cardHeaderJustify">
                                    <p class="font-12">Theft</p>
                                    <div>
                                        <span class="small-action-btn action-required-button">High Alert</span>
                                    </div>
                                </div>
                                <div class="summaryCard">
                                    <h5>6543</h5>
                                </div>
                                <div class="summaryCard">
                                    <p class="font-12">Last Updated: 24th May - 10:14:24</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tableSection">
                    <div class="col-lg-12 col-md-12 mb-4">
                        <div class="cardWrapper">
                            <div class="UserCardHeader cardMainHead">
                                <h4 class="card-title">VIN List and Alert Records</h4>
                                <div class="cardSubHead">
                                    <div class="userSingleSearch">
                                        <i class="material-symbols-outlined">search</i>
                                    </div>
                                    <div class="month-calendar userDashFilter">
                                        <i class="material-symbols-outlined">filter_list</i><span>All status</span>
                                    </div>
                                    <div class="month-calendar vehicleMonthSearch">
                                        <i class="material-symbols-outlined">calendar_today</i><span>Jan 6, 2024 - Jun
                                            13, 2024</span>
                                    </div>
                                    <div class="month-calendar vehicleMonthSearch">
                                        <i class="material-symbols-outlined">cloud_download</i><span>Export
                                            Report</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body px-0 userdashbrdTable pt-0">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="table-light-Usertbl">
                                                <tr>
                                                    <th>VINs <span class="vinRecordsNum">1,0362,78</span></th>
                                                    <th>Model</th>
                                                    <th>Alert Date</th>
                                                    <th>Details</th>
                                                    <th>Title Status</th>
                                                    <th>Car Status</th>
                                                    <th>Resolution Status</th>
                                                    <th class="text-end">Action Required</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="vinNumberUserdash">1FTCF15N5HLA06223
                                                        <div class="vinPopout">
                                                            <div class="vinPopout-Content">
                                                                <div class="vinnumber-top">
                                                                    <h3>VIN: 1FTCF15N5HLA06223</h3>
                                                                    <span class="vinModelName">CHEV</span>
                                                                </div>
                                                                <div class="pop-tableContent-compound">
                                                                    <div class="pop-tableContent">
                                                                        <div class="tableChildren">Theft Report</div>
                                                                        <div class="tableChildren">None</div>
                                                                    </div>
                                                                    <div class="pop-tableContent border-bottom">
                                                                        <div class="tableChildren">Custom Record
                                                                            Entries<small>Entries and E2 across
                                                                                border</small></div>
                                                                        <div class="tableChildren">2</div>
                                                                    </div>
                                                                    <div class="pop-tableContent">
                                                                        <div class="tableChildren">Impound
                                                                            Status<small>Current and previous
                                                                                record</small></div>
                                                                        <div class="tableChildren">None</div>
                                                                    </div>
                                                                    <div class="pop-tableContent">
                                                                        <div class="tableChildren">Current Status</div>
                                                                        <div class="tableChildren">In Customs</div>
                                                                    </div>
                                                                    <div class="pop-tableContent border-bottom">
                                                                        <div class="tableChildren">Title Status</div>
                                                                        <div class="tableChildren">Suspicious</div>
                                                                    </div>
                                                                    <div class="pop-tableContent">
                                                                        <div class="tableChildren">Title History</div>
                                                                        <div class="tableChildren"><a href="#"
                                                                                class="orangeColor">Check Details</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="vin-popout-footer">
                                                                <a href="#" class="orangeColor"><i
                                                                        class="material-symbols-outlined">schedule</i>Check
                                                                    Alerts</a>
                                                                <a routerLink="/user-summary-list"><i
                                                                        class="material-symbols-outlined">directions_car</i>Vehicle
                                                                    Details</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>CHEV</td>
                                                    <td>22 Jan 2024</td>
                                                    <td>
                                                        <div class="d-flex align-items-center"><span
                                                                class="dot-success"></span>Car is active with no fraud
                                                            report</div>
                                                    </td>
                                                    <td>Clean</td>
                                                    <td><span class="dot-green"></span>Active</td>
                                                    <td><span class="small-action-btn clear-button">Clear</span></td>
                                                    <td>
                                                        <div class="d-flex actionBtn">
                                                            <a href="#" data-bs-toggle="tooltip" title="Contact Authorities" data-bs-placement="bottom"><i
                                                                    class="material-symbols-outlined me-2">phone_in_talk</i></a>
                                                            <a href="#" data-bs-toggle="tooltip" title="Investigate" data-bs-placement="bottom"><i
                                                                    class="material-symbols-outlined me-2">search</i></a>
                                                            <a href="#" data-bs-toggle="tooltip" title="Monitor Details" data-bs-placement="bottom"><i
                                                                    class="material-symbols-outlined">monitor_weight</i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="paginationArea">
                                        <ul class="pagination pagination-lg">
                                            <li class="page-item"><button class="page-link">Previous</button></li>
                                            <li class="page-item"><span class="page-link">1 of 1</span></li>
                                            <li class="page-item"><button class="page-link">Next</button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="my-tooltip"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>