<app-loader [IsLoading]="isLoading"></app-loader>
<div class="fade forgotModelbox modal" id="forgetModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="FormInnerContentForgotForm">
            <div class="InnerForm">
              <div class="FormHead">
                <h2 class="text-center">Forgot Password</h2>
                <p>Enter your email to reset your password.</p>
              </div>
              <form [formGroup]="forgetForm" (ngSubmit)="onForgetSubmit()">
                <div class="mb-4">
                  <label for="userEmail" class="formLabel">Email</label>
                  <input type="email" class="formInput" id="userEmail" formControlName="email" placeholder="Enter your Email" />
                  <div *ngIf="forgetForm.controls['email'].touched">
                    <span class="text-danger" *ngIf="forgetForm.controls['email'].errors?.['required']">Please enter a registered email address</span>
                    <span class="text-danger" *ngIf="!forgetForm.controls['email'].errors?.['required'] && forgetForm.controls['email'].errors?.['email']">Please enter a valid email</span>
                  </div>
                </div>
                <div class="input-group signin_btn">
                  <button class="btn btn-lg btn-primary" type="submit" [disabled]="forgetForm.invalid || isResInProg">Reset Password</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  