<div class="row TabCardDesign">
    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="cardInnerVehicle">
                <div class="cardHeaderJustify ">
                    <h4 class="card-title">Current Vehicle Title Details</h4>
                    <div class="d-flex align-items-center currentDate">
                        <p class="textLight">Last Updated</p>
                        <p>Jun 10, 2024</p>
                    </div>
                </div>
                <div class="">
                    <div class="CurrentDetails">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="fw-bold">
                                <i class="material-symbols-outlined wheelColor">search_hands_free</i> Customs Inquiry
                            </h5>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-12">
                                <div class="currentVehicleSection">
                                    <div class="crTitleDetailsPart">
                                        <p class="textLight">Vin</p>
                                        <p>1HGBH41JXMN109186</p>
                                    </div>
                                    <div class="crTitleDetailsPart">
                                        <p class="textLight">Search Date</p>
                                        <p>2024-04-15</p>
                                    </div>
                                    <div class="crTitleDetailsPart">
                                    </div>
                                    <div class="crTitleDetailsPart">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="CurrentDetails">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="fw-bold"><i class="material-symbols-outlined">person</i> Export</h5>
                            <div>
                                <span class="txtRed">1st Buyer</span>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-12">
                                <div class="currentVehicleSection">
                                    <div class="crTitleDetailsPart">
                                        <p class="textLight">Vin</p>
                                        <p>1HGBH41JXMN109186</p>
                                    </div>
                                    <div class="crTitleDetailsPart">
                                        <p class="textLight">Search Date</p>
                                        <p>2024-04-15</p>
                                    </div>
                                    <div class="crTitleDetailsPart">
                                        <p class="textLight">State</p>
                                        <p>New York</p>
                                    </div>
                                    <div class="crTitleDetailsPart">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="CurrentDetails">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="fw-bold"><i class="material-symbols-outlined">person</i> Impound</h5>
                            <div>
                                <span class="txtRed">1st Buyer</span>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-12">
                                <div class="currentVehicleSection">
                                    <div class="crTitleDetailsPart">
                                        <p class="textLight">Vin</p>
                                        <p>1HGBH41JXMN109186</p>
                                    </div>
                                    <div class="crTitleDetailsPart">
                                        <p class="textLight">Impound Date</p>
                                        <p>2024-04-15</p>
                                    </div>
                                    <div class="crTitleDetailsPart">
                                        <p class="textLight">State</p>
                                        <p>CA</p>
                                    </div>
                                    <div class="crTitleDetailsPart">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="CurrentDetails">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="fw-bold"><i class="material-symbols-outlined">person</i> Stolen Summary</h5>
                            <div>
                                <span class="txtRed">1st Buyer</span>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-12">
                                <div class="currentVehicleSection">
                                    <div class="crTitleDetailsPart">
                                        <p class="textLight">Vin</p>
                                        <p>1HGBH41JXMN109186</p>
                                    </div>
                                    <div class="crTitleDetailsPart">
                                        <p class="textLight">Status</p>
                                        <p>Recovered</p>
                                    </div>
                                    <div class="crTitleDetailsPart">
                                        <p class="textLight">Last Event Date</p>
                                        <p>2024-04-25</p>
                                    </div>
                                    <div class="crTitleDetailsPart">
                                        <p class="textLight">Last Event Date</p>
                                        <p>2024-04-25</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
        <div class="card titleDetails">
            <div class="accordion" id="titleDetailsTab">
              
                <div class="accordion-item tabItem">
                    <h2 class="accordion-header tabSummaryHead" id="headingOne">
                        <div class="accordion-button tabSummaryButton button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="tabTitle">
                                <h4 class="card-title"> Title History 1  </h4>
                                <p class="textLight">Till Date</p>
                                <p class="fw-bold">Nov 10, 2023</p>
                            </div>
                        </div>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#titleDetailsTab">
                        <div class="accordion-body tabSummaryBody">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 ">
                                    <div class="historyTab">
                                        <div class="titleHistoryArea">
                                            <div class="IconArea">
                                                <p class="smallAddIcon wheelGrayBg"><i class="material-symbols-outlined ">search_hands_free</i></p>
                                            </div>
                                            <div class="HistoryVinPart">
                                                <p class="textLight">Vehicle VIN</p>
                                                <p>JH4KA8260MC000001</p>
                                            </div>
                                        </div>
                                        <div class="row py-3">
                                            <div class="col-md-12">
                                                <div class="flexHistory yearDetails">
                                                    <div class="yearLabel">
                                                        <p class="textLight">Year</p>
                                                        <p>2023</p>
                                                    </div>
                                                    <div class="yearLabel">
                                                        <p class="textLight">Make</p>
                                                        <p>BMW</p>
                                                    </div>
                                                    <div class="yearLabel">
                                                        <p class="textLight">Model</p>
                                                        <p>328i</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row py-3">
                                            <div class="col-md-12">
                                                <div class="flexHistory bodyTypeDetails">
                                                    <div class="bodyLabel">
                                                        <p class="textLight">Body Type:</p>
                                                        <p>Sedan</p>
                                                    </div>
                                                    <div class="bodyLabel">
                                                        <p class="textLight">
                                                            Odometer Reading at Time of Sale
                                                        </p>
                                                        <p>45,000 miles</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 ">
                                    <div class="historyTab">
                                        <div class="d-flex align-items-center upperSeller">
                                            <div class="IconArea">
                                                <p class="smallAddIcon wheelDangerBg"><i class="material-symbols-outlined ">person</i></p>
                                            </div>
                                            <div class="sellerName">
                                                <p class="textLight">Seller Full Name</p>
                                                <p>John Doe</p>
                                            </div>
                                            <div class="buyerBtn">
                                                <span class="txtRed">1st Buyer</span>
                                            </div>
                                        </div>
                                        <div class="row py-3">
                                            <div class="col-md-12">
                                                <div class="flexHistory signatureDetails">
                                                    <div class="signatureLabel">
                                                        <p class="textLight">Signature</p>
                                                        <p>John Doe</p>
                                                    </div>
                                                    <div class="signatureLabel">
                                                        <p class="textLight">Date of Sale</p>
                                                        <p>June 15, 2024</p>
                                                    </div>
                                                    <div class="signatureLabel">
                                                        <p class="textLight">Selling Price</p>
                                                        <p>$18,500</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row py-2">
                                            <div class="col-md-12">
                                                <p class="textLight">Address:</p>
                                                <p>123 Maple Street, Springfield, IL 62701</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 ">
                                    <div class="historyTab">
                                        <div class="d-flex align-items-center upperSeller">
                                            <div class="IconArea">
                                                <p class="smallAddIcon wheelPurpleBg"><i class="material-symbols-outlined ">person</i></p>
                                            </div>
                                            <div class="sellerName">
                                                <p class="textLight">Buyer Full Name</p>
                                                <p>John Doe</p>
                                            </div>
                                            <div class="buyerBtn">
                                                <span class="txtRed">1st Buyer</span>
                                            </div>
                                        </div>

                                        <div class="row py-3">
                                            <div class="col-md-12">
                                                <div class="flexHistory bodyTypeDetails">
                                                    <div class="bodyLabel">
                                                        <p class="textLight">Signature</p>
                                                        <p>Jane Smith</p>
                                                    </div>
                                                    <div class="bodyLabel">
                                                        <p class="textLight">
                                                            Address
                                                        </p>
                                                        <p>456 Oak Avenue, Chicago, IL 60601</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 ">
                                    <div class="historyTab">
                                        <div class="titleHistoryArea">
                                            <div class="IconArea ">
                                                <p class="smallAddIcon wheelWarningBg"><i class="material-symbols-outlined ">account_balance_wallet</i></p>
                                            </div>
                                            <div class="HistoryVinPart">
                                                <p class="textLight">Lieholder Name</p>
                                                <p>Bank of Springfield</p>
                                            </div>
                                        </div>
                                        <div class="row py-3">
                                            <div class="col-md-12">
                                                <p class="textLight">Address</p>
                                                <p>789 Elm Street, Springfiled, IL 62701</p>
                                            </div>
                                            <div class="col-md-12 pt-3">
                                                <p class="textLight">Lien Release</p>
                                                <p>if the lien has been satisfied, the lienholder
                                                    would provide a release statement here
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 ">
                                    <div class="historyTab">
                                        <div class="titleHistoryArea">
                                            <div class="IconArea">
                                                <p class="smallAddIcon wheelSuccessBg"><i class="material-symbols-outlined ">calendar_month</i></p>
                                            </div>
                                            <div class="HistoryVinPart">
                                                <p class="textLight">Date of Transfer:</p>
                                                <p>June 15, 2024</p>
                                            </div>
                                        </div>

                                        <div class="row py-2">
                                            <div class="col-md-12">
                                                <p class="textLight">Warranties Provided</p>
                                                <p>Vehicle is sold</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 ">
                                    <div class="historyTab">
                                        <div class="titleHistoryArea">
                                            <div class="IconArea">
                                                <p class="smallAddIcon wheelDangerBg"><i class="material-symbols-outlined ">lock</i></p>
                                            </div>
                                            <div class="HistoryVinPart">
                                                <p class="textLight">Notary Signature</p>
                                                <p>Notary"s signature</p>
                                            </div>
                                        </div>
                                        <div class="row py-3">
                                            <div class="flexHistory bodyTypeDetails">
                                                <div class="bodyLabel">
                                                    <p class="textLight">Notary Stamp</p>
                                                    <p>Notary"s stamp</p>
                                                </div>
                                                <div class="bodyLabel">
                                                    <p class="textLight">Date</p>
                                                    <p>June 15,2024</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


              
                <div class="accordion-item tabItem">
                    <h2 class="accordion-header tabSummaryHead" id="headingTwo">
                        <button class="accordion-button tabSummaryButton button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <div class="tabTitle">
                                <h4 class="card-title"> Title History 2  </h4>
                                <p class="textLight">Till Date</p>
                                <p class="fw-bold">Nov 10, 2023</p>
                            </div>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#titleDetailsTab">
                        <div class="accordion-body tabSummaryBody">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 ">
                                    <div class="historyTab">
                                        <div class="titleHistoryArea">
                                            <div class="IconArea">
                                                <p class="smallAddIcon wheelGrayBg"><i class="material-symbols-outlined ">search_hands_free</i></p>
                                            </div>
                                            <div class="HistoryVinPart">
                                                <p class="textLight">Vehicle VIN</p>
                                                <p>JH4KA8260MC000001</p>
                                            </div>
                                        </div>
                                        <div class="row py-3">
                                            <div class="col-md-12">
                                                <div class="flexHistory yearDetails">
                                                    <div class="yearLabel">
                                                        <p class="textLight">Year</p>
                                                        <p>2023</p>
                                                    </div>
                                                    <div class="yearLabel">
                                                        <p class="textLight">Make</p>
                                                        <p>BMW</p>
                                                    </div>
                                                    <div class="yearLabel">
                                                        <p class="textLight">Model</p>
                                                        <p>328i</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row py-3">
                                            <div class="col-md-12">
                                                <div class="flexHistory bodyTypeDetails">
                                                    <div class="bodyLabel">
                                                        <p class="textLight">Body Type:</p>
                                                        <p>Sedan</p>
                                                    </div>
                                                    <div class="bodyLabel">
                                                        <p class="textLight">
                                                            Odometer Reading at Time of Sale
                                                        </p>
                                                        <p>45,000 miles</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 ">
                                    <div class="historyTab">
                                        <div class="d-flex align-items-center upperSeller">
                                            <div class="IconArea">
                                                <p class="smallAddIcon wheelDangerBg"><i class="material-symbols-outlined ">person</i></p>
                                            </div>
                                            <div class="sellerName">
                                                <p class="textLight">Seller Full Name</p>
                                                <p>John Doe</p>
                                            </div>
                                            <div class="buyerBtn">
                                                <span class="txtRed">1st Buyer</span>
                                            </div>
                                        </div>
                                        <div class="row py-3">
                                            <div class="col-md-12">
                                                <div class="flexHistory signatureDetails">
                                                    <div class="signatureLabel">
                                                        <p class="textLight">Signature</p>
                                                        <p>John Doe</p>
                                                    </div>
                                                    <div class="signatureLabel">
                                                        <p class="textLight">Date of Sale</p>
                                                        <p>June 15, 2024</p>
                                                    </div>
                                                    <div class="signatureLabel">
                                                        <p class="textLight">Selling Price</p>
                                                        <p>$18,500</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row py-2">
                                            <div class="col-md-12">
                                                <p class="textLight">Address:</p>
                                                <p>123 Maple Street, Springfield, IL 62701</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 ">
                                    <div class="historyTab">
                                        <div class="d-flex align-items-center upperSeller">
                                            <div class="IconArea">
                                                <p class="smallAddIcon wheelPurpleBg"><i class="material-symbols-outlined ">person</i></p>
                                            </div>
                                            <div class="sellerName">
                                                <p class="textLight">Buyer Full Name</p>
                                                <p>John Doe</p>
                                            </div>
                                            <div class="buyerBtn">
                                                <span class="txtRed">1st Buyer</span>
                                            </div>
                                        </div>

                                        <div class="row py-3">
                                            <div class="col-md-12">
                                                <div class="flexHistory bodyTypeDetails">
                                                    <div class="bodyLabel">
                                                        <p class="textLight">Signature</p>
                                                        <p>Jane Smith</p>
                                                    </div>
                                                    <div class="bodyLabel">
                                                        <p class="textLight">
                                                            Address
                                                        </p>
                                                        <p>456 Oak Avenue, Chicago, IL 60601</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 ">
                                    <div class="historyTab">
                                        <div class="titleHistoryArea">
                                            <div class="IconArea ">
                                                <p class="smallAddIcon wheelWarningBg"><i class="material-symbols-outlined ">account_balance_wallet</i></p>
                                            </div>
                                            <div class="HistoryVinPart">
                                                <p class="textLight">Lieholder Name</p>
                                                <p>Bank of Springfield</p>
                                            </div>
                                        </div>
                                        <div class="row py-3">
                                            <div class="col-md-12">
                                                <p class="textLight">Address</p>
                                                <p>789 Elm Street, Springfiled, IL 62701</p>
                                            </div>
                                            <div class="col-md-12 pt-3">
                                                <p class="textLight">Lien Release</p>
                                                <p>if the lien has been satisfied, the lienholder
                                                    would provide a release statement here
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 ">
                                    <div class="historyTab">
                                        <div class="titleHistoryArea">
                                            <div class="IconArea">
                                                <p class="smallAddIcon wheelSuccessBg"><i class="material-symbols-outlined ">calendar_month</i></p>
                                            </div>
                                            <div class="HistoryVinPart">
                                                <p class="textLight">Date of Transfer:</p>
                                                <p>June 15, 2024</p>
                                            </div>
                                        </div>

                                        <div class="row py-2">
                                            <div class="col-md-12">
                                                <p class="textLight">Warranties Provided</p>
                                                <p>Vehicle is sold</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 ">
                                    <div class="historyTab">
                                        <div class="titleHistoryArea">
                                            <div class="IconArea">
                                                <p class="smallAddIcon wheelDangerBg"><i class="material-symbols-outlined ">lock</i></p>
                                            </div>
                                            <div class="HistoryVinPart">
                                                <p class="textLight">Notary Signature</p>
                                                <p>Notary"s signature</p>
                                            </div>
                                        </div>
                                        <div class="row py-3">
                                            <div class="flexHistory bodyTypeDetails">
                                                <div class="bodyLabel">
                                                    <p class="textLight">Notary Stamp</p>
                                                    <p>Notary"s stamp</p>
                                                </div>
                                                <div class="bodyLabel">
                                                    <p class="textLight">Date</p>
                                                    <p>June 15,2024</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
