@import '../../../content/scss/styles.scss';

.page-reset-password {
  background-color: $bg-clr;

  .form {
    position: relative;
    background-color: $sec-clr;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin: 32px 16px 0px 16px;
    box-shadow: 4px 4px 6px 0 $shadow-light-clr;

    @media #{$sm-screen} {
      margin-top: 80px;
      padding: 20px 20px;
    }

    @media #{$md-to-lg-screen} {
      margin-top: 100px;
      padding: 20px 26px;
    }

    @media #{$xl-screen} {
      margin-top: 90px;
      padding: 20px 34px;
    }

    .head {
      color: $base-clr;

      h3 {
        font-size: 1.5em !important;
        font-weight: 700;
        padding: 0px;
        margin: 40px auto 16px auto;
      }

      p {
        font-size: 1.1em;
        margin-bottom: 16px;
      }
    }

    .form-group {
      margin-bottom: 26px;

      .form-control {
        display: block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: $form-text-clr;
        background-color: $sec-clr;
        background-clip: padding-box;
        border: 1px solid $border-clr;
        border-radius: 0px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
    }

    .failed-feedback {
      color: $brand-clr;
      text-align: center;
    }

    .success-feedback {
      color: $success-clr;
      text-align: center;
    }
  }
}
