<div class="row TabCardDesign">
    <!-- Summary Cards -->
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div class="card">
            <div class="cardInnerVehicle">
                <div class="summaryCard cardHeaderJustify">
                    <p class="font-12"><span class="cardNum">01 - </span>Customs Fraud</p>
                    <div>
                        <span class="small-action-btn action-required-button">High Alert</span>
                    </div>
                </div>
                <div class="summaryCard">
                    <p class="font-12">Last Updated: 24th May - 10:14:24</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Repeat Summary Cards for Title Changes, Impounded, Theft Reports -->
</div>

<div class="row tableSection">
    <div class="col-lg-12 col-md-12 mb-4">
        <div class="cardWrapper">
            <div class="UserCardHeader cardMainHead">
                <h4 class="card-title">Vehicle History Records</h4>
                <div class="cardSubHead">
                    <div class="userSingleSearch">
                        <i class="material-symbols-outlined">search</i>
                    </div>
                    <div class="month-calendar userDashFilter">
                        <i class="material-symbols-outlined">filter_list</i><span>All status</span>
                    </div>
                    <div class="month-calendar vehicleMonthSearch">
                        <i class="material-symbols-outlined">calendar_today</i><span>Jan 6, 2024 - Jun 13, 2024</span>
                    </div>
                    <div class="month-calendar vehicleMonthSearch">
                        <i class="material-symbols-outlined">cloud_download</i><span>Export Report</span>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body px-0 userdashbrdTable pt-0">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="table-light-Usertbl">
                                <tr>
                                    <th>Activity Date</th>
                                    <th>Details</th>
                                    <th>Title Status</th>
                                    <th>Car Status</th>
                                    <th>Resolution Status</th>
                                    <th class="text-end">Actions Required</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if(tableData.length > 0){
                                    @for(item of tableData;track $index){
                                <tr>
                                    <td>22 Jan 2024</td>
                                    <td><div class="d-flex align-items-center"><span class="dot-success"></span>Car is active with no fraud report</div></td>
                                    <td>Clean</td>
                                    <td><span class="dot-green"></span>Active</td>
                                    <td><span class="small-action-btn clear-button">Clear</span></td>
                                    <td>
                                        <div class="d-flex actionBtn">
                                            <a href="#" data-bs-toggle="tooltip" title="Contact Authorities" data-bs-placement="bottom" ><i class="material-symbols-outlined me-2">phone_in_talk</i></a>
                                            <a href="#" data-bs-toggle="tooltip" title="Investigate" data-bs-placement="bottom"><i class="material-symbols-outlined me-2">search</i></a>
                                            <a href="#" data-bs-toggle="tooltip" title="Monitor Details" data-bs-placement="bottom"><i class="material-symbols-outlined">monitor_weight</i></a>
                                        </div>
                                    </td>
                                </tr>
                                }
                            }
                            @else{
                                <tr>
                                    <td colspan="9" class="text-center">No data found</td>
                                </tr> 
                            } 
                                <!-- Repeat rows for other vehicle history records -->
                            </tbody>
                        </table>
                    </div>
                    <div class="paginationArea">
                        <ul class="pagination pagination-lg">
                            <li class="page-item"><button class="page-link"  (click)="onClick(page-1)" [disabled]="page==1">Previous</button></li>
                            <li class="page-item"><span class="page-link">{{page}} of {{totalPages}}</span></li>
                            <li class="page-item"><button class="page-link" (click)="onClick(page+1)" [disabled]="page==totalPages">Next</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>