<div class="TitleClickDetail">
    <div class="row">
        <div class="col-xl-6 col-lg-12 col-md-12">
            <!-- Vehicle Tab Start -->
            <div class="card">
                <div class="InnerTitleCard">
                    <div class="cardHeaderStyle">
                        <div class="topVehicleHead">
                            <div class="vehicleTitle">
                                <h4 class="card-title" id="tabTitle">VIN Details</h4>

                                <p>VIN - {{paramVin}} </p>

                            </div>
                        </div>
                    </div>
                    <div class="tabVehicleSection cardHeaderJustify">
                        <ul class="nav nav-tabs TitleTab" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation"><button class="nav-link firstTab active"
                                    id="summary-tab" data-bs-toggle="tab" data-bs-target="#summaryTab" type="button"
                                    role="tab" aria-controls="summaryTab" aria-selected="false">VIN Details</button>
                            </li>
                            <li class="nav-item" role="presentation"><button class="nav-link " id="details-tab"
                                    data-bs-toggle="tab" data-bs-target="#detailsTab" type="button" role="tab"
                                    aria-controls="detailsTab" aria-selected="true">VIN Change</button></li>
                            <li class="nav-item" role="presentation"><button class="nav-link lastTab "
                                    id="additional-tab" data-bs-toggle="tab" data-bs-target="#additionalTab"
                                    type="button" role="tab" aria-controls="additionalTab"
                                    aria-selected="false">Additional Information</button></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Vehicle Tab End -->
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="card disableit">
                        <div class="cardInnerVehicle">
                            <div class="summaryCard cardHeaderJustify">
                                <p class="font-12">
                                    <!-- <span class="cardNum">{{customChange}} - </span> -->
                                    Customs Changes</p>
                                <div>
                                    <span class="small-action-btn action-required-button">High Alert</span>
                                </div>
                            </div>
                            <div class="summaryCard">
                                <p class="font-12">Last Updated: </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="card ">
                        <div class="cardInnerVehicle">
                            <div class="summaryCard  cardHeaderJustify">
                                <p class="font-12">
                                    <!-- <span class="cardNum">{{titleChange}} - </span> -->
                                    Changes</p>
                                <div>
                                    <span class="small-action-btn textWarning">Medium Alert</span>
                                </div>
                            </div>
                            <div class="summaryCard">
                                <p class="font-12">Last Updated: {{ lastTitleChangeUpdated | dateFormat: 'MMM DD YYYY'
                                    }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="card disableit">
                        <div class="cardInnerVehicle ">
                            <div class="summaryCard cardHeaderJustify">
                                <p class="font-12">
                                    <!-- <span class="cardNum">{{impoundChange}} - </span> -->
                                    Impound Changes </p>
                                <div>
                                    <span class="small-action-btn action-required-button">High Alert</span>
                                </div>
                            </div>
                            <div class="summaryCard">
                                <p class="font-12">Last Updated: </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="card disableit">
                        <div class="cardInnerVehicle">
                            <div class="summaryCard cardHeaderJustify">
                                <p class="font-12">
                                    <!-- <span class="cardNum">{{theftChange}} - </span> -->
                                    Theft Changes</p>
                                <div>
                                    <span class="small-action-btn action-required-button">High Alert</span>
                                </div>
                            </div>
                            <div class="summaryCard">
                                <p class="font-12">Last Updated: </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Tab Content -->
    <div class="tabBodySection TitleTabAdd">
        <div class="tab-content" id="myTabContent">
            <!-- Summary Tab Section -->
            <div class="tab-pane fade show active" id="summaryTab" role="tabpanel">
                <app-title-tab [tableData]="tableData" [page]="page" [totalPages]="totalPages" [totalData]="totalData"
                    (handelPaginagtion)="handlePageChange($event)" (handelSearch)="handelSearch($event)"
                    (handelAlertFil)="handelAlertFil($event)" [paramVin]="paramVin"
                    (handelAlertTypeFilter)="handelAlertTypeFilter($event)"
                    (handelSelectedVin)="handelSelectedVin($event)"
                    [selectedVinsData]="selectedVinsData"></app-title-tab>
            </div>
            <!-- Title Details Tab Section -->
            <div class="tab-pane fade " id="detailsTab" role="tabpanel">

                <app-title-comparison></app-title-comparison>
            </div>
            <!-- Additional Info Tab Section -->
            <div class="tab-pane fade" id="additionalTab" role="tabpanel">
            </div>
        </div>
        <app-loader [IsLoading]="isLoading"></app-loader>
    </div>
</div>