<app-loader [IsLoading]="isLoading"></app-loader>

<div class="row">
  <div class="col-md-12">
    <div class="uploadArea">
      <div class="card">
        <div class="card-body">
          <!-- <h4 class="card-title text-center"></h4> -->
          <div class="uploadFile">
            <div class="bg-diffrent">
              <div class="container">
                <div class="row justify-content-center">

                  <!-- ✅ Right-aligned "Download Sample File" -->
                  <div class="col-xl-8 text-end mb-2 download-smaple">
                    <!-- <a href="assets/sample-request-file.xlsx" download>Download Sample File</a> -->
                  </div>

                  <div class="col-xl-8">
                    <div class="file-upload-contain">
                      <label for="upload">Upload File</label>
                      <input #fileInput class="form-control" type="file" (change)="onFileSelected($event)"
                        accept=".txt,.csv,.xlsx,.xls" />

                    </div>

                    <div class="d-flex justify-content-between customBtn mt-3">
                      <button class="btn btn-primary btn-block"  [disabled]="!selectedFile" (click)="uploadFile()">
                        Initiate Process
                      </button>
                      <!-- <button class="btn btn-primary btn-block" [disabled]="idData !== true" (click)="downloadVinCsv()">
                        Download VIN Data
                      </button> -->
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>