.loader-component {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    right: 0;
    height: 100%;
    background: #00000030;
    align-items: center;
    justify-content: center;
    
}
.cmp-button button.butdisabled{
	background-color: rgb(156, 163, 175);
	border-color: rgb(156, 163, 175);
	color: #000;
}


.cmp-button .button-secondary {
   
    min-width: 157px !important; 
}