<div class="contact-wrapper">
    <app-front-header></app-front-header>
    <div class="container main-container front-about-us">
        <div class="innerTermsBody my-30">
            <div class="mainTermsHead">
                <h2 class="text-center" tabindex="0">Privacy Policy</h2>
            </div>
    
        <div class="privacy-content my-30">
            <h1 class="h5">Privacy Policy for Product</h1>

            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, ex. Temporibus saepe
                natus
                recusandae cum inventore et ducimus voluptates neque. Lorem ipsum dolor sit.</p>

            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nulla delectus fugiat
                assumenda optio
                ipsam ratione beatae! Alias eligendi debitis, eaque qui eius ipsam ipsum in at officiis repellendus
                labore quod placeat asperiores, doloremque inventore?</p>

            <p class="mb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae nobis dignissimos
                perferendis
                perspiciatis numquam eveniet pariatur itaque, est labore molestias! Dicta, impedit. Repudiandae sequi
                obcaecati quos corporis soluta laudantium, pariatur animi? Nesciunt architecto pariatur autem quas vel
                unde facere atque? Laudantium saepe quod et sapiente magni suscipit, consequatur sequi sed.</p>

            <h2 class="h5">Consent</h2>

            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nulla delectus fugiat
                assumenda optio
                ipsam ratione beatae! Alias eligendi debitis, eaque qui eius ipsam ipsum in at officiis repellendus
                labore quod placeat asperiores, doloremque inventore? Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Placeat ipsam dolor perspiciatis laborum odio enim aperiam quod facilis quae rerum.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident architecto inventore mollitia
                doloribus minus iusto dolore perferendis non quas similique? </p>

            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nulla delectus fugiat
                assumenda optio ipsam ratione beatae! Alias eligendi debitis, eaque qui eius ipsam ipsum in at officiis
                repellendus
                labore quod placeat asperiores, doloremque inventore?</p>

            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nulla delectus fugiat
                assumenda optio
                ipsam ratione beatae! Alias eligendi debitis, eaque qui eius ipsam ipsum in at officiis repellendus
                labore quod placeat asperiores, doloremque inventore?</p>

            <h2 class="h5">How We Use Your Information</h2>

            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, ex. Temporibus saepe
                natus
                recusandae cum inventore et ducimus voluptates neque. Lorem ipsum dolor sit.</p>


            <ul class="privacy-list mb-4">
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium exercitationem vitae modi vel
                    cupiditate error illum libero, ullam omnis minus? Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Quasi pariatur quas animi, molestiae iusto libero nostrum consequatur dolore eos
                    nihil!</li>
                <li>Lorem ipsum dolor</li>
                <li>Lorem ipsum consectetur adipisicing elit. Rerum, autem.</li>
            </ul>

            <h2 class="h5">Log Files</h2>

            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nulla delectus fugiat
                assumenda optio
                ipsam ratione beatae! Alias eligendi debitis, eaque qui eius ipsam ipsum in at officiis repellendus
                labore quod placeat asperiores, doloremque inventore? Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Placeat eveniet nobis deserunt commodi quas, qui eaque ea. Repellat, magni molestiae recusandae
                vitae atque hic, tempora voluptate dolor in numquam officia. Dicta velit praesentium ipsum nam modi
                quasi fuga sint enim!</p>

            <h2 class="h5">Cookies and Web Beacons</h2>

            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nulla delectus fugiat
                assumenda optio
                ipsam ratione beatae! Alias eligendi debitis, eaque qui eius ipsam ipsum in at officiis repellendus
                labore quod placeat asperiores, doloremque inventore? </p>



            <h2 class="h5">Questions</h2>

            <p>If you have any questions about this Privacy Policy, please contact us.</p>
        </div>
        </div>
    </div>
    <app-front-footer></app-front-footer>
</div>