.breadcrumb-top {
  cursor: default;
  padding-left: 14px;
  padding-bottom: 12px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    li {
      float: left;

      a {
        font-weight: 100 !important;
      }
    }
  }
}
