<div class="conatctwrapper">
<app-front-header></app-front-header>
<div class="container main-Container frontAboutUs">
    <div class="innerTermsBody my-30">
        <div class="mainTermsHead">
            <h2 class="text-center" tabindex="0">Terms Of Service</h2>
        </div>

        <div class="TermsContent my-30">
            <p class="mt-4" tabindex="0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia placeat,
                assumenda obcaecati, sint ipsa corporis adipisci animi doloremque odit
                quam perspiciatis? Placeat quo laborum, consequuntur natus tempora quibusdam
                assumenda aliquam vel quasi doloribus, facilis possimus iure adipisci nulla
                nostrum quae ex minus numquam? Iusto, quasi perspiciatis? Ut excepturi dolor
                deleniti eius corporis voluptate sequi nobis, illo ullam commodi alias laborum.
                Quod rerum nulla impedit aut sapiente odio, consequuntur nemo nam omnis quam
                voluptatem eum modi nisi quia cumque natus autem ea totam ut iusto aliquid fugit vel. Quibusdam
                tempora odit eos, assumenda nemo ea qui eveniet? Voluptate, sed ducimus.</p>

            <p class="mt-4" tabindex="0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia placeat,
                assumenda obcaecati, sint ipsa corporis adipisci animi doloremque odit
                quam perspiciatis? Placeat quo laborum, consequuntur natus tempora quibusdam
                assumenda aliquam vel quasi doloribus, facilis possimus iure adipisci nulla
                nostrum quae ex minus numquam? Iusto, quasi perspiciatis? Ut excepturi dolor
                deleniti eius corporis voluptate sequi nobis, illo ullam commodi alias laborum.
                Quod rerum nulla impedit aut sapiente odio, consequuntur nemo nam omnis quam
                voluptatem eum modi nisi quia cumque natus autem ea totam ut iusto aliquid fugit vel. Quibusdam
                tempora odit eos, assumenda nemo ea qui eveniet? Voluptate, sed ducimus.</p>

            <p class="mt-4" tabindex="0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia placeat,
                assumenda obcaecati, sint ipsa corporis adipisci animi doloremque odit
                quam perspiciatis? Placeat quo laborum, consequuntur natus tempora quibusdam
                assumenda aliquam vel quasi doloribus, facilis possimus iure adipisci nulla
                nostrum quae ex minus numquam? Iusto, quasi perspiciatis? Ut excepturi dolor
                deleniti eius corporis voluptate sequi nobis, illo ullam commodi alias laborum.
                Quod rerum nulla impedit aut sapiente odio, consequuntur nemo nam omnis quam
                voluptatem eum modi nisi quia cumque natus autem ea totam ut iusto aliquid fugit vel. Quibusdam
                tempora odit eos, assumenda nemo ea qui eveniet? Voluptate, sed ducimus.</p>

            <p class="mt-4" tabindex="0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia placeat,
                assumenda obcaecati, sint ipsa corporis adipisci animi doloremque odit
                quam perspiciatis? Placeat quo laborum, consequuntur natus tempora quibusdam
                assumenda aliquam vel quasi doloribus, facilis possimus iure adipisci nulla
                nostrum quae ex minus numquam? Iusto, quasi perspiciatis? Ut excepturi dolor
                deleniti eius corporis voluptate sequi nobis, illo ullam commodi alias laborum.
                Quod rerum nulla impedit aut sapiente odio, consequuntur nemo nam omnis quam
                voluptatem eum modi nisi quia cumque natus autem ea totam ut iusto aliquid fugit vel. Quibusdam
                tempora odit eos, assumenda nemo ea qui eveniet? Voluptate, sed ducimus.</p>

            <p class="mt-4" tabindex="0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia placeat,
                assumenda obcaecati, sint ipsa corporis adipisci animi doloremque odit
                quam perspiciatis? Placeat quo laborum, consequuntur natus tempora quibusdam
                assumenda aliquam vel quasi doloribus, facilis possimus iure adipisci nulla
                nostrum quae ex minus numquam? Iusto, quasi perspiciatis? Ut excepturi dolor
                deleniti eius corporis voluptate sequi nobis, illo ullam commodi alias laborum.
                Quod rerum nulla impedit aut sapiente odio, consequuntur nemo nam omnis quam
                voluptatem eum modi nisi quia cumque natus autem ea totam ut iusto aliquid fugit vel. Quibusdam
                tempora odit eos, assumenda nemo ea qui eveniet? Voluptate, sed ducimus.</p>

        </div>
    </div>
</div>
<app-front-footer></app-front-footer>
</div>
