$sm-screen : screen and (max-width: 500px);

$md-up-screen : screen and (min-width:501px);

$md-to-lg-screen : screen and (min-width:501px) and (max-width:999px);

$xl-screen : screen and (min-width:1000px);