<div class="conatctwrapper">
    <app-front-header></app-front-header>
    <div class="container main-Container frontAboutUs">
        <div class="headingArea">
            <h1 tabindex="0">Frequently asked questions</h1>
            <p>Everything you need to know about the product and billing.</p>
        </div>
        <div class="faqStart">
            <div class="row ">
                <div class="col-lg-4 col-md-4 col-sm-6 py-32 py-32">
                    <div class="faqInnerBox">
                        <div class="icon">
                            <div class="outerIcon"><span>
                                    <img [src]="faqIcon1" class="img-fluid" /></span>
                            </div>
                        </div>
                        <div class="InnerFaq">
                            <h2>Is there a free trial available?</h2>
                            <p>
                                Yes, you can try us for free for 30 days. Our friendly
                                team will work with you to get you up and
                                running as soon as possible.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 py-32">
                    <div class="faqInnerBox">
                        <div class="icon">
                            <div class="outerIcon"><span>
                                    <img [src]="faqIcon2" class="img-fluid" /></span>
                            </div>
                        </div>
                        <div class="InnerFaq">
                            <h2>Can I change my plan later?</h2>
                            <p>
                                Of course. Our pricing scales with your company.
                                Chat to our friendly team to find a solution that works for you.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 py-32">
                    <div class="faqInnerBox">
                        <div class="icon">
                            <div class="outerIcon"><span>
                                    <img [src]="faqIcon3" class="img-fluid" /></span>
                            </div>
                        </div>
                        <div class="InnerFaq">
                            <h2>What is your cancellation policy?</h2>
                            <p>
                                We understand that things change.
                                You can cancel your plan at any time and we’ll
                                refund you the difference already paid.
                            </p>
                        </div>
                    </div>
                </div>
            

           
                <div class="col-lg-4 col-md-4 col-sm-6 py-32">
                    <div class="faqInnerBox">
                        <div class="icon">
                            <div class="outerIcon"><span>
                                    <img [src]="faqIcon4" class="img-fluid" /></span>
                            </div>
                        </div>
                        <div class="InnerFaq">
                            <h2>Can other info be added to an invoice?</h2>
                            <p>
                                At the moment, the only way to add additional
                                information to invoices is to add the information to the workspace's name.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 py-32">
                    <div class="faqInnerBox">
                        <div class="icon">
                            <div class="outerIcon"><span>
                                    <img [src]="faqIcon5" class="img-fluid" /></span>
                            </div>
                        </div>
                        <div class="InnerFaq">
                            <h2>How does billing work?</h2>
                            <p>
                                Plans are per workspace, not per account.
                                You can upgrade one workspace, and still have any number of free workspaces.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 py-32">
                    <div class="faqInnerBox">
                        <div class="icon">
                            <div class="outerIcon"><span>
                                    <img [src]="faqIcon6" class="img-fluid" /></span>
                            </div>
                        </div>
                        <div class="InnerFaq">
                            <h2>How do I change my account email?</h2>
                            <p>
                                You can change the email address associated with
                                your account by going to untitled.com/account from a laptop or desktop.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="faqBottom">
                <div class="faqReview">
                    <div class="avatars">
                        <a routerLink="#" class="avatars-item"><img class="avatar img-fluid" [src]="faqImg1" alt=""></a>
                        <a routerLink="#" class="avatars-item"><img class="avatar img-fluid" [src]="faqImg2" alt=""></a>
                        <a routerLink="#" class="avatars-item"><img class="avatar img-fluid" [src]="faqImg3" alt=""></a>
                    </div>
                </div>
                <div class="faqQues InnerFaq">
                    <h2>Still have questions?</h2>
                    <p>Can’t find the answer you’re looking for? Please chat to our friendly team.</p>
                </div>
                <div class="faqButton">
                    <button class="btn faqBtn">Get in touch</button>
                </div>
            </div>
        </div>


    </div>
    <app-front-footer></app-front-footer>
</div>