<div class="card ProfileSection" role="region" aria-labelledby="profileDetails">
  <div class="card-Profileinner">
    <div class="row">
      <div class="col-md-10" [ngClass]="editMode ? 'edit-profile-fields' : ''"> 
             <h1 id="profileDetails" *ngIf="!editMode">Profile Details</h1>
             <h1 id="profileDetails" *ngIf="editMode">Update Profile</h1>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" aria-labelledby="profileFormDescription">

          <!-- Profile Photo -->
          <div class="profileHead">
            <div class="profileImage">
              <div class="image">
                <img [src]="profile?profile:userProf" alt="Profile photo of {{profileForm.controls['name'].value}} {{profileForm.controls['lname'].value}}"
                 class="profileImg" alt="Profile photo of" />
              </div>
              <div class="nameSec" *ngIf="!editMode">
                <h6>{{profileForm.controls['name'].value || ""}} {{profileForm.controls['lname'].value ||""}}</h6>
                <p><span>{{profileForm.controls['email'].value || ""}}</span></p>
              </div>

              <div class="nameSec" *ngIf="editMode">
                <input type="file" (change)="onFileSelected($event)" class="form-control modernInput"
                  accept="image/*" />
              </div>
            </div>
            <div class="profileBtn">
              <span  *ngIf="!editMode" >
                  <button type="button"  routerLink="#" class="btn btn-primary" aria-label="Edit profile" (click)="editModeFun(true)">
                  Edit
                </button>
            </span>
            <span  *ngIf="editMode">
              <button type="submit" routerLink="#" class="btn btn-primary" aria-label="Update profile"
                [disabled]="profileForm.invalid || isLoading">Update</button>
              </span>
            </div>
          </div>

          <div class="row FormInnerInput">
            <!-- Profile Photo -->
            <!-- User Details -->
            <div class="col-md-6">
              <div class="mb-4">
                <label for="name" class="form-label">First Name</label>
                <input type="text" class="form-control modernInput" id="name" formControlName="name"
                  placeholder="Enter your name" tabindex="1" />
                <!-- <div *ngIf="profileForm.controls['name'].touched && profileForm.controls['name'].invalid"
                  class="text-danger">
                  Name is required
                </div> -->
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-4">
                <label for="name" class="form-label">Last Name</label>
                <input type="text" class="form-control modernInput" id="lname" formControlName="lname"
                  placeholder="Enter your Last name" tabindex="2" />
                <!-- <div *ngIf="profileForm.controls['lname'].touched && profileForm.controls['lname'].invalid" class="text-danger">
                 Last Name is required
                </div> -->
              </div>
            </div>
          </div>

          <div class="row FormInnerInput">
            <div class="col-md-6">
              <div class="mb-4">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control modernInput" id="email" formControlName="email"
                  placeholder="Enter your email" tabindex="3" />
              </div>
             </div>
              <div class="col-md-6">
                <div class="mb-4 passwordFiled profile-pagepswd">
                  <label for="password" class="form-label">Password</label>
                  <input [type]="eye?'text':'password'" class="passwordFiled form-control modernInput" id="password" name="password"
                    placeholder="********" formControlName="password" tabindex="4"/>
                  <span class="passEye"><i *ngIf="!eye" class="material-symbols-outlined"
                      (click)="showPwd()">visibility_off</i><i *ngIf="eye" (click)="showPwd()"
                      class="material-symbols-outlined">visibility</i></span>
  
                  <!-- General required error -->
                  <div class=""
                    *ngIf="profileForm.controls['password'].touched && profileForm.controls['password'].errors?.['required']">
                    <span class="text-danger">Password is required</span>
                  </div>
  
                  <!-- Specific errors -->
                  <div class="errorBox"
                    *ngIf="profileForm.controls['password'].value && (profileForm.controls['password'].dirty || profileForm.controls['password'].touched) && profileForm.controls['password'].errors as errors">
                    <div>
                      <span [class.text-danger]="errors['tooShort']" [class.text-success]="!errors['tooShort']">
                        {{ errors['tooShort'] ? '&#x2715;' : '&#x2714;' }} - At least 8 characters long
                      </span>
                    </div>
                    <div>
                      <span [class.text-danger]="errors['missingUppercase']"
                        [class.text-success]="!errors['missingUppercase']">
                        {{ errors['missingUppercase'] ? '&#x2715;' : '&#x2714;' }} - At least one uppercase letter
                      </span>
                    </div>
                    <div>
                      <span [class.text-danger]="errors['missingLowercase']"
                        [class.text-success]="!errors['missingLowercase']">
                        {{ errors['missingLowercase'] ? '&#x2715;' : '&#x2714;' }} - At least one lowercase letter
                      </span>
                    </div>
                    <div>
                      <span [class.text-danger]="errors['missingNumber']" [class.text-success]="!errors['missingNumber']">
                        {{ errors['missingNumber'] ? '&#x2715;' : '&#x2714;' }} - At least one number
                      </span>
                    </div>
                    <div>
                      <span [class.text-danger]="errors['missingSpecial']"
                        [class.text-success]="!errors['missingSpecial']">
                        {{ errors['missingSpecial'] ? '&#x2715;' : '&#x2714;' }} - At least one special character
                      </span>
                    </div>
                  </div>
  
                </div>
              </div>
          </div>
          <div class="row FormInnerInput">
          <div class="col-md-6">
            <div class="mb-4 passwordFiled" *ngIf="editMode">
              <label for="confirmPassword" class="form-label">Confirm Password</label>
              <input [type]="ceye?'text':'password'" class="form-control modernInput" id="confirmPassword" name="confirmPassword"
                placeholder="********" formControlName="confirmPassword" tabindex="5"/>
              <span class="passEye"><i *ngIf="!ceye" class="material-symbols-outlined"
                  (click)="showConfirmPwd()">visibility_off</i><i *ngIf="ceye" (click)="showConfirmPwd()"
                  class="material-symbols-outlined">visibility</i></span>
              <div class="confrimp-profilepaswd"
                *ngIf="profileForm.controls['confirmPassword'].touched && profileForm.controls['confirmPassword']?.errors?.['required']">
                <span class="text-danger">Confirm Password is required</span>
              </div>
            </div>
            <div class="mb-4">
              <label for="company" class="form-label">Company</label>
              <select 
                class="form-select modernInput" 
                id="company" 
                tabindex="7"
                formControlName="company"
                aria-label="Select company">
                <option selected>abc techs</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
         
          <div class="col-md-6">
            <div class="mb-4">
              <label for="title" class="form-label">Title</label>
              <select 
                class="form-select modernInput" 
                id="title" 
                tabindex="6"
                formControlName="title"
                aria-label="Select title"
                >
                <option selected>Write Here</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            
          </div>
            </div>
        </form>
        <form [formGroup]="profileFormEmail" (ngSubmit)="onSubmit()">
          <div class="col-md-12" *ngIf="!editMode">
            <div class="emailSec my-3">
              <h4>My Email Address</h4>

              <div class="emailInner my-4 d-flex align-items-center">
                <div class="IconEmail">
                  <img [src]="SmsIcon" alt="Email icon" />
                </div> 
                <div class="emailName">
                  <p>{{profileForm.controls['email'].value}}</p>
                  <span>{{ createdAt | dateFormat: 'relative' }}</span>
                </div>
              </div>

              <div class="emailAddress">
                <button 
                  type="button" 
                  class="btn btnAdd" 
                  aria-label="Add email address" (click)="handelOtherEmail()">
                  + Add Email Address
                </button>

                

                <div class="col-md-6 mb-4 mt-2" *ngIf="showOther">
                  <label for="email" class="form-label">Other Email</label>
                  <input 
                    type="email" 
                    class="form-control modernInput me-2 mb-2" 
                    id="email" 
                   
                    formControlName="secondaryEmailId" 
                    aria-required="true" />
                    <div class="additional-email-error" *ngIf="profileFormEmail.controls['secondaryEmailId'].touched">
                      <span class="text-danger" *ngIf="profileFormEmail.controls['secondaryEmailId'].errors?.['required']">Please Enter a Email Address</span>
                      <span class="text-danger" *ngIf="!profileFormEmail.controls['secondaryEmailId'].errors?.['required'] && profileFormEmail.controls['secondaryEmailId'].errors?.['email']">Please enter a valid email address</span>
                    </div>
                    <button 
                      type="button" 
                      class="btn btnAdd" 
                      aria-label="Save" (click)="handelSave()" [disabled]="profileFormEmail.invalid">
                      Save
                    </button>
                </div>

              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>


<app-loader [IsLoading]="isLoading"></app-loader>