<header>
    <div class="frontHead">
        <nav class="navbar  navbar-expand navbar-light">
            <div class="container">
                <div class="logoHeader">
                       <a routerLink="#"><img [src]="logo" class="img-fluid" alt="Logo" /></a> 
                </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 frontNav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="#">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle chevronIcon" routerLink="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Products <i class="material-symbols-outlined"> keyboard_arrow_down</i>
                    </a>
                   
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle chevronIcon" routerLink="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Resources  <i class="material-symbols-outlined"> keyboard_arrow_down</i>
                    </a>
                  
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="#">Pricing</a>
                  </li>
                </ul>
                <form class="d-flex">
                    <div>
                        <button type="button" class='LoginBtn bg-LightBtn' routerLink="/">Log in</button>
                    </div>
                   
                </form>
              </div>
            </div>
          </nav>
    </div>
</header>