<header>
    <div class="top-navbar headerSection">
        <nav class="navbar navbar-expand navbar-light bg-navbar header-Design">
            <div class="container-fluid">
                <div class="logoHeader">
                        <img [src]="logo" class="img-fluid" alt="Logo" />
                </div>
                <button type="button" id="sidebarCollapse" (click)="toggleSidebar()" class="d-flex justify-center align-item-center d-xl-block">
                    <i class="material-symbols-outlined text-dark">menu_open</i>
                </button>
                <div class="collapse navbar-collapse d-lg-block d-xl-block d-md-none" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto d-flex align-items-center headerRight">
                        <li class="nav-item calendar-date">
                            <div class="d-flex align-items-center">
                                <img src="assets/images/icons/calendar-full.svg" class="img-fluid" alt="settings" />
                                <span class="d-flex update-time">
                                    Last Record Updated:
                                </span>
                                <span class="update-time">Mar 16, 2021 - 09:35PM</span>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="btn btn-custom navbar-btn_track" data-bs-toggle="dropdown" aria-expanded="false">
                                Track VIN Status
                                <img src="assets/images/icons/down-arrow.svg" class="img-fluid" alt="settings"/>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end VinTrackDiv">
                                <div class="custom-modal"></div>
                                <div class="trackVinNumber">
                                    <div class="modalInput form-group position-relative">
                                        <span class="VInNumberInput">
                                            <i class="material-symbols-outlined vehicle_icon">directions_car</i>
                                            <input type="text" class="form-control" placeholder="Enter VIN" />
                                        </span>
                                        <button type="button" class="btn btn-custom">Check</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <img src="assets/images/icons/setting.svg" class="img-fluid" alt="settings" />
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle no-toggle-icon" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="notification-dot"><span>20</span></div>
                                <img src="assets/images/icons/bell.svg" class="img-fluid" alt="notifications" />

                            </a>
                            <ul class="dropdown-menu dropdown-menu-end notification-dropdown">
                                <li class="dropdown-item">
                                    <div class="d-flex justify-content-between p-2">
                                        <div class="card-title"><h4>Notifications</h4></div>
                                        <div><p class="notification-number">2 new</p></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-item">
                                        <div class="d-flex align-items-center">
                                            <span class="check-circle alertCheck">
                                                <i class="material-symbols-outlined">check</i>
                                            </span>
                                            <div class="notifications-points">
                                                <h5>Alert Resolved</h5>
                                                <p>Vehicle Reported Stolen</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <!-- Add additional notification items here -->
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle no-toggle-icon" data-bs-toggle="dropdown" aria-expanded="false">
                                <img [src]="profile" width="35" height="35" class="rounded-circle" alt="Profile" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end profile_dropdown">
                                <li class="dropdown-item">
                                    <div class="profileName">
                                        <h5>{{userName}}</h5>
                                        <span class="vin_label">VIN: </span><span>0022</span>
                                    </div>
                                </li>
                                <hr class="profileLine" />
                                <li>
                                    <a routerLink="/view-user-profile" class="dropdown-item">
                                        <i class="material-symbols-outlined">Person</i>
                                        <span>Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-item">
                                        <i class="material-symbols-outlined">Settings</i>
                                        <span>Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <button type="button" class="dropdown-item logbtn" (click)="logout()" >
                                        <i class="material-symbols-outlined">power_settings_new</i>
                                        <span >Log Out</span>
                                    </button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>