<header>
    <div class="top-navbar headerSection">
        <nav class="navbar navbar-expand navbar-light bg-navbar header-Design">
            <div class="container-fluid px-0">
                <div class="logoHeader">
                    <a routerLink="/dashboard" class="l-logo"><img [src]="logo" class="img-fluid" alt="Logo" /></a>
                    <a routerLink="/dashboard" class="m-logo"><img [src]="mlogo" class="img-fluid" alt="Logo" /></a>
                </div>
                <button type="button" id="sidebarCollapse" (click)="toggleSidebar()"
                    class="d-flex justify-center align-item-center d-xl-block">
                    <i class="material-symbols-outlined text-dark">menu</i>
                </button>
                <div class="collapse navbar-collapse d-lg-block d-xl-block d-md-none" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto d-flex align-items-center headerRight">
                        <li class="nav-item calendar-date">
                            <div class="d-flex align-items-center">
                                <img src="assets/images/icons/calendar-full.svg" class="img-fluid" alt="settings" />
                                <span class="d-flex update-time">
                                    Last Record Updated:
                                </span>
                                <span class="update-time">{{ lastUpdateDate | dateFormat: 'MMM DD, YYYY - h:mm A (UTC)' }}</span>    
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <span class="btn btn-custom navbar-btn_track" (click)="changeSearchIcon()"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                New VIN Report
                                <img [src]="arrowIcon" *ngIf="searchIconToggle" class="img-fluid" alt="settings" />
                                <img [src]="searchIcon" *ngIf="!searchIconToggle" class="img-fluid" alt="search" />
                            </span>
                            <div class="dropdown-menu dropdown-menu-end VinTrackDiv" #dropdownMenu>
                                <div class="custom-modal"></div>
                                <div class="trackVinNumber">
                                    <h4>VIN Search</h4>
                                    <div class="modalInput form-group position-relative">
                                        <input type="text" [(ngModel)]="searchValue"   
                                               class="form-control" placeholder="Enter VIN Number"
                                               (keydown.enter)="onEnterKey(dropdownMenu)"
                                               />
                                        <button type="button" class="btn btn-custom"
                                            (click)="getSearchVal()">Search</button>        
                                    </div>
                                </div>
                               
                            </div>
                            
                        </li>
                       
                        <li class="nav-item dropdown profile-areamodal">
                            <a class="nav-link no-toggle-icon noticon" data-bs-toggle="dropdown" (click)="getNotificationData()"
                               >
                              
                                <div class="notification-dot"><span>{{unreadCount}}</span></div>
                                <img src="assets/images/icons/bell.svg" class="img-fluid" alt="notifications" />
                                <div class="checkmodal"></div>
                            </a>
                            
                            <ul class="dropdown-menu dropdown-menu-end notification-dropdown">
                                
                                <li class="dropdown-item notifyInner">
                                    <div class="notifyBox">
                                        <div class="headNotify">
                                            <p>Notifications</p>
                                            <span>{{unreadCount}} new notifications</span>
                                        </div>
                                        <div>
                                             <div class="notification-btngrp">
                                                <button  class="notification-number" (click)="readNotification('all')"  [disabled]="unreadCount == 0">
                                                    Read All
                                                 </button>
                                                <a routerLink="/notification" routerLinkActive="active" class="notification-number">
                                                    View All
                                                </a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </li>
                               
                                @for(item of notificationData;track $index){
                                    <li class="notifyInner" (click)="getAllNotification(item.vin,item.model,item.id)">
                                        <div class="notifyPoint">
                                            <div class="notifyDot"> <span 
                                                class="tableDot redDot"
                                                [ngClass]="item.isRead ? 'tableDot grayDot ' : 'tableDot redDot'"
                            
                                            > </span></div>
                                            <div class="notifySubpoint">
                                                <div class="notifySubHead">
                                                    <h6>{{item.alertType}} Changes</h6><span>{{ item.createdAt | dateFormat: "DD MMM YYYY"}}</span>
                                                </div>
                                                <p> 
                                                    {{item.brand?item?.brand?.split(' - ')[0]:'-' }}
                                                </p>
                                                <p> 
                                                
                                                    customs for VIN {{item.vin}}.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                 }
                                
                            </ul>
                            
                        </li>
                        <li class="nav-item dropdown profile-areamodal">
                            <a href="#" class="nav-link dropdown-toggle no-toggle-icon p-0" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img [src]="profile" class="rounded-circle headProfile" alt="Profile" (click)="getProfileData()" />
                                <div class="checkmodal"></div>
                            </a>
                            
                            <ul class="dropdown-menu dropdown-menu-end profile_dropdown">
                                <li class="dropdown-item">
                                    <div class="ProfileHead">
                                        <div class="profileName">
                                            <h5>{{userName}}</h5>
                                            <span class="vin_label"  [title]="userEmail">{{userEmail}}</span>
                                        </div>
                                       
                                    </div>
                                </li>
                                <li>
                                    <a routerLink="/user-profile" class="dropdown-item profile-link">
                                        <img [src]="profileIcon" class="img-fluid" alt="icon" />
                                        <span>Profile</span>
                                    </a>
                                </li>

                                <li>
                                    <a routerLink="#" type="button" class="dropdown-item logbtn profile-link"
                                        (click)="logout()">
                                        <img [src]="logIcon" class="img-fluid" alt="icon" />
                                        <span>Log Out</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<app-loader [IsLoading]="isLoading"></app-loader>