<div class="row tableSection">
    <div class="col-lg-12 col-md-12 mb-4">
        <div class="cardWrapper">
            <div class="UserCardHeader cardMainHead">
                <h4 class="card-title">VIN Title Detail Records</h4>
                <div class="cardSubHead">
                    <div class="userSingleSearch">
                        <i class="material-symbols-outlined">search</i>
                    </div>
                    <div class="month-calendar userDashFilter">
                        <i class="material-symbols-outlined">filter_list</i><span>All status</span>
                    </div>
                    <div class="month-calendar vehicleMonthSearch">
                        <i class="material-symbols-outlined">calendar_today</i><span>Jan 6, 2024 - Jun 13,2024</span>
                    </div>
                    <div class="month-calendar vehicleMonthSearch">
                        <i class="material-symbols-outlined">cloud_download</i><span>Export Report</span>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body px-0 userdashbrdTable pt-0">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th class="borderedHead">Impound</th>
                                    <th>Export</th>
                                    <th class="borderedHead">Stolen Summary</th>
                                    <th></th>
                                    <th class="borderedHead">Ebay Auction</th>
                                    <th class="borderedHead">Recall</th>
                                    <th class="borderedHead">Customs Inquiry</th>
                                    <th class="borderedHead">Lien</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="secondTitleHead">
                                    <td>State & Date</td>
                                    <td>State & Date</td>
                                    <td>State & Last Event Date</td>
                                    <td>Status</td>
                                    <td>Item # & Date</td>
                                    <td>Reason</td>
                                    <td>Search Date</td>
                                    <td>Lienholder</td>
                                    <td>Details</td>
                                </tr>
                                <!-- Repeat this row for each record -->
                                <tr>
                                    <td>
                                        <p class="subHeadRowData">Texas</p>2024-02-10
                                    </td>
                                    <td>
                                        <p class="subHeadRowData">Texas</p>2024-02-10
                                    </td>
                                    <td>
                                        <p class="subHeadRowData">Texas</p>2024-02-10
                                    </td>
                                    <td><span class="small-action-btn clear-button">Clear</span></td>
                                    <td>
                                        <p class="subHeadRowData">1234567890</p>2024-02-10
                                    </td>
                                    <td>Fuel Pump Issue</td>
                                    <td>2024-03-30</td>
                                    <td>
                                        <p class="subHeadRowData">John Doe</p>2024-02-10
                                    </td>
                                    <td>
                                        <div class="d-flex actionBtn">
                                            <a href="#" data-bs-toggle="tooltip" title="Monitor Details"  data-bs-placement="bottom">
                                                <i class="material-symbols-outlined">monitor_weight</i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- Repeat ends -->
                            </tbody>
                        </table>
                    </div>
                    <div class="paginationArea">
                        <ul class="pagination pagination-lg">
                            <li class="page-item">
                                <button class="page-link">Previous</button>
                            </li>
                            <li class="page-item">
                                <span class="page-link">1 of 1</span>
                            </li>
                            <li class="page-item">
                                <button class="page-link">Next</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>