$base-clr: #111;
$pri-clr: #585858;
$brand-clr: #e00000;
$sec-clr: #fff;
$bg-clr: #fcfcfc;
$bg-layer-clr: #111111b3;
$footer-bg-clr: #9e9e9e1a;
$border-clr: #ced4da;
$success-clr: #008000;
$info-clr: #4bb1cf;
$warn-clr: #ede04d;
$form-text-clr: #495057;
$shadow-dark-clr: #000000;
$shadow-light-clr: #2f373f2f;
$poster-clr: #363636;
$transparent-clr: #ffffff00;
$code-bg-clr: #e9ecef;
$copy-icon-clr: #333;
