@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$primary-font: 'Inter', sans-serif !important;

$secondary-font: $primary-font;

$heading-font: $primary-font;

$button-font: $primary-font;
