@media only screen and (max-width: 2000px) {
  .card-area p.authorityPara {
    font-size: 0.875rem;
  }
  .backBottomImg {
    height: 306px;
    max-width: 960px;
  }
  .leftLoginSection .innerLeftSection {
    padding: 60px 0 0;
  }
}
@media only screen and (max-width: 1600px) {
  .card-area p.authorityPara {
    font-size: 0.625rem;
  }
  .leftLoginSection .innerLeftSection {
    padding: 20px 0 0;
  }
  .leftLoginSection .vehicleImage img {
    height: 377px;
  }
  .loginTopsection {
    max-width: 540px;
  }
  .backBottomImg {
    height: 246px;
    max-width: 890px;
  }
  .loginTextSection {
    position: relative;
    top: 65px;
  }
}
@media only screen and (max-width: 1400px) {
  .cardInnerVehicle {
    justify-content: center;
    padding: 14px 10px;
  }
  .card-area p.authorityPara {
    font-size: 0.5rem;
  }
  .userAuthorityBox span {
    font-size: 0.75rem;
  }
  .footerLogin {
    padding-top: 20px;
  }
  .leftLoginSection .vehicleImage img {
    height: 320px;
  }
  .leftLoginSection .innerLeftSection .btnleftLogin .loginTransparent {
    font-size: 0.875rem;
  }
  .leftLoginSection .oneLeftButton button {
    font-size: 0.875rem;
  }
  .loginTopsection {
    padding-top: 35px;
    max-width: 492px;
    position: relative;
  }
  .leftLoginSection .vehicleImage {
    top: 75px;
    right: 0;
  }
  .btn-compound {
    gap: 25px;
    top: 0;
  }
  .loginTextSection h3 {
    font-size: 1.625rem;
  }
  .cardBottomLine a {
    font-size: 0.75rem;
  }
  .search_table.ms-3.form-group.has-search {
    width: 200px;
    max-width: 100%;
  }
  .month-calendar img {
    width: 16px;
  }
  .month-calendar {
    font-size: 0.75rem;
    padding: 10px;
  }
  .month-calendar.vehicleMonthSearch i {
    font-size: 18px;
  }
  .currentVehicleSection {
    gap: 12px;
  }
  .historyTab p {
    font-size: 0.75rem;
  }
  .currentVehicleSection p {
    font-size: 0.75rem;
  }
  .CurrentDetails h5 {
    font-size: 16px;
  }
  .tabVehicleSection.cardHeaderJustify ul li.nav-item .nav-link {
    font-size: 11px;
  }
  .summaryCard .font-12{
    font-size: 13px;
  }
}
@media only screen and (max-width: 1200px) {
.backTopImg {
  background-size: 686px;
  background-position: -47px top;
  max-width: 567px;
}
  .InnerTitleCard .tabVehicleSection.cardHeaderJustify ul li{
    width: 33.3%;
  }

  /*=======================================================
      Login   Page Design start
    ===============================================*/
  .loginTextSection h3 {
    font-size: 22px;
  }
  .leftLoginSection .vehicleImage img {
    height: 300px;
  }
  .loginTopsection {
    max-width: 480px;
    width: 100%;
    margin: auto;
  }
  .btn-compound {
    max-width: 205px;
  }
  .leftLoginSection .vehicleImage {
    right: -8px;
    top: 78px;
  }
  .graphSectionBtn .vinAlertGraph_area .fraud_numbers {
    font-weight: 600;
    font-size: 0.875rem;
  }
  .vinAlertGraph_area h6 {
    font-size: 0.75rem;
  }
  /*=======================================================
      Dashboard Page Design start
    ===============================================*/

  .graphSectionBtn {
    border: 1px solid #f3f3f3;
    padding: 20px 9px;
  }
  .card.rounded.recentlyAlert .card-area span.date-time {
    font-size: 11px;
  }
  .card.rounded.recentlyAlert .text-white {
    font-size: 0.75rem;
  }
  .cardBottomLine a {
    font-size: 9px;
    font-weight: 600;
  }
  .btn-view {
    font-size: 0.75rem;
  }
  h3.card-title.cardDashNum {
    font-size: 30px;
    margin-bottom: 0;
  }
  .card.rounded.recentlyAlert .card-area p {
    font-size: 0.75rem;
  }
  .card.rounded.recentlyAlert .card-area h5 {
    font-size: 13px;
  }
  .pieChartGraph .currentWeek {
    gap: 5px;
  }
  /*=======================================================
      Vehicle Monitoring Page Design start
========================================================*/
  .VehicleMonitoring .tabVehicleSection.cardHeaderJustify {
    flex-direction: column;
    display: flex;
    gap: 15px;
  }
  .search_table.ms-3.form-group.has-search {
    width: 200px;
    max-width: 100%;
  }
  /*=======================================================
    Summary  Page Design start
===================================================*/
  .SummaryCardDetails .card-body .tabVehicleSection.cardHeaderJustify {
    flex-direction: column;
    gap: 15px;
  }
  .cardSubHead {
    gap: 15px;
  }
  .cardInnerVehicle {
    justify-content: center;
    padding: 14px;
  }
  .UserCardHeader {
    align-items: start;
    flex-direction: column;
  }
  .sumBox .card-title{
  font-size: 15px;
}
}
@media only screen and (max-width: 992px) {
  .backTopImg {
    background-size: 454px;
    background-position: -8px top;
    max-width: 567px;
}
  .InnerTitleCard .tabVehicleSection.cardHeaderJustify{
    padding-top: 10px;
  }
  .vehicleTitle .card-title{
    font-size: 1.625rem;
  }
  .InnerTitleCard .tabVehicleSection.cardHeaderJustify ul li{
    width: 33.3%;
  }
  a.m-logo img {
    width: 32px !important;
    display: block;
    height: auto;
  }
  a.l-logo img{
    display: none;
  }
  #sidebar.active ul li a {
    width: 100%;
  }
  .btnIcons {
    padding: 6px;
    gap: 6px;
  }
  .btnIcons.btnZero p,
  .btnIcons.btnOne p {
    font-size: 0.875rem;
  }
  .logoHeader img {
    width: 200px;
  }
  /* login page UI end*/
  .month-calendar.vehicleMonthSearch span {
    font-size: 0.75rem;
  }
  .pt-4.barGraph {
    height: auto;
  }
  /*=======================================================
      Login   Page Design start
    ===============================================*/
  .rightLoginSection {
    max-width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 50px 0;
  }
  #main-content.active {
    width: 100%;
    position: relative;
    margin-top: 0;
    background-color: #f7f8f9;
  }
  #sidebar {
    position: fixed;
    top: 72px;
    bottom: 0;
    z-index: 10;
    width: 264x;
    transform: translatex(-100%);
    transition: all 150ms linear;
    box-shadow: none !important;
  }
  .leftLoginSection .vehicleImage {
    top: 74px;
    right: 5px;
  }
  .leftLoginSection .vehicleImage img {
    height: 200px;
  }
  .loginTextSection h3 {
    font-size: 22px;
    line-height: 28px;
  }
  .loginTextSection {
    padding-top: 0;
    top: 15px;
  }
  .leftLoginSection .loginTextSection p {
    font-size: 0.75rem;
    line-height: 16px;
  }
  .btn-compound {
    max-width: 185px;
    gap: 15px;
    top: 0;
  }
  .loginTopsection {
    max-width: 382px;
    width: 100%;
    margin: auto;
  }
  .dropdown-menu.dropdown-menu-end.VinTrackDiv.show{
    top:70px;
  }
  .leftLoginSection .innerLeftSection .btnleftLogin .loginTransparent,
  .leftLoginSection .oneLeftButton button {
    padding: 6px 6px;
  }
  /*=======================================================
      Header Design start good
    ===============================================*/
  span.d-flex.update-time i {
    font-size: 0.875rem;
  }
  button#sidebarCollapse{
    margin-left: 0;
  }
  .headerSection .calendar-date .update-time {
    font-size: 11px;
  }

  a.btn.btn-primary.navbar-btn_track:after {
    height: 30px;
  }
  a.nav-link.no-toggle-icon i {
    line-height: 35px;
  }
  .headerSection ul.dropdown-menu.dropdown-menu-end.notification-dropdown {
    max-width: 350px;
    width: 350px;
  }
  .headerSection .notification-dropdown .alertCheck {
    padding: 5px;
    margin-right: 15px;
  }
  .headerSection ul.dropdown-menu.dropdown-menu-end.notification-dropdown p {
    font-size: 0.75rem;
    line-height: 18px;
  }
  .headerSection .notification-dropdown .notifications-points h5 {
    font-size: 0.875rem;
  }
  #sidebarCollapse {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  button#sidebarCollapse i {
    line-height: 35px;
    font-size: 24px;
  }
  /*=======================================================
      Dashboard Page Design start
===============================================*/
  .cardBottomLine a {
    font-size: 9px;
    font-weight: 600;
  }
  /*=======================================================
      Vehicle Monitoring Page Design start
===============================================*/
  .search_table.ms-3.form-group.has-search {
    width: 200px;
    max-width: 100%;
  }
  /*=======================================================
      Summary Page Design start
===============================================*/
  .month-calendar span {
    font-size: 0.75rem;
  }

  button.btn.btn-view {
    padding: 5px;
  }
  .headerSection ul.dropdown-menu.dropdown-menu-end.notification-dropdown {
    top: 52px;
  }
  li.nav-item.calendar-date img {
    width: 16px;
  }
  .UserCardHeader {
    align-items: start;
    flex-direction: column;
  }
  button#sidebarCollapse {
    margin-left: 16px;
  }
  /* title comparison style */
  .tabMainCurrentHead{
    gap: 10px;
    flex-direction: column;
    align-items: start !important;
    justify-content: start;
  }
.wrapper-pdf .sidebar-toggle-btn{
  display: block !important;
}
.wrapper-pdf .header-section {
  display: flex;
  align-items: center;
  gap: 16px;
}
header.header-pdf{
  margin-left: 0 !important;
}
.content-wrapper-pdf{
  margin-left: 0 !important;
}
aside.siderbar-pdf{
  display: none !important;
  box-shadow: none !important;
}

aside.siderbar-pdf.hidden {
  transform: translateX(0%) !important;
  display:  block !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, .22) !important;

}
  .paginationNumber button.currentPage {
  margin: 0px;
}

.paginationArea {
  position: relative;
  padding: 10px 8px 20px;
}
.paginationArea .pagination button {
  padding: 4px 8px;
}
.pagination .space {
  left: 8px !important;
  bottom: 0;
  font-size: 0.75rem;
}
}
@media only screen and (min-width: 992px) {
  .authorityThreeBtn {
    flex-wrap: wrap;
    gap: 5px;
    justify-content: start;
  }
  /*=======================================================
      Sidebar  Design start
    ===============================================*/
  #sidebar.active {
    width: 100px;
    height: 100% !important;
    position: fixed !important;
    overflow: visible !important;
    top: 72px !important;
    z-index: 3;
    float: left !important;
    bottom: 0 !important;
  }
  #sidebar.active .sidebar-header h3 span {
    display: none;
    transition: all 0.5s ease;
  }
  #sidebar.active ul li a span {
    display: none;
    transition: all 0.5s ease;
  }
  #sidebar.active .dropdown-toggle::after {
    display: none;
    transition: all 0.5s ease;
  }
  #content {
    width: calc(100% - 100px);
    position: relative;
    float: right;
    transition: all 0.3s;
  }
  #content.active {
    width: calc(100% - 100px);
  }
  #sidebar.active .menu {
    position: absolute;
    left: 81px;
    background-color: white;
    width: 180px;
    height: auto;
    margin: 5px 0;
    top: 0;
    border: 1px solid #dcd9d9;
    z-index: 4;
  }
  .dropdown-menu {
    border: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    transform: translate(10px, 10px);
  }
  
}
@media only screen and (max-width: 768px) {

  button#sidebarCollapse {
    margin-left: 10px;
  }
  .InnerTitleCard{
    height: auto;
  }
  .cardInnerVehicle {
    justify-content: center;
    padding: 14px;
  }
  .dropdown-menu.dropdown-menu-end.VinTrackDiv.show {
    left: 0;
    right: 0;
    top: 70px;
  }
  .backTopImg {
    height: 130px;
    background-size: 614px;
    background-position: 2px top;
    max-width: 550px;
  }
  .profileImg {
    max-width: 80px;
    max-height: 80px;
  }
  .btnAdd {
    width: 100%;
  }
  .emailInner {
    flex-wrap: wrap;
    text-align: center;
  }
  .leftLoginSection .innerLeftSection {
    gap: 20px;
  }
  /* logo CSS */
  span.titleLogo.logoMobile {
    display: block;
    font-size: 18px;
  }
 .headerSection .calendar-date .d-flex.align-items-center {
  display: inline-block !important;
  width: 150px;
}
.headerSection .calendar-date .update-time {
  font-size: 11px;
  line-height: 11px;
}
 li.nav-item.calendar-date img {
    float: left;
  }
  a.nav-link.no-toggle-icon.noticon img{
    height: 20px;
    width: 20px;
  }
  a.nav-link.no-toggle-icon img {
    height: 35px;
    width: 35px;
  }
  span.titleLogo {
    display: none;
  }
  ul.dropdown-menu.dropdown-menu-end.profile_dropdown.show {
    top: 48px;
  }
  .card.rounded.recentlyAlert .card-area span.date-time {
    font-size: 11px;
  }
  button.btn.btn-view {
    padding: 5px;
  }
  /*=======================================================
      Login   Page Design start
    ===============================================*/
  .loginTextSection h3 {
    font-size: 22px;
  }
  .btnIcons {
    padding: 10px;
  }
  .leftLoginSection .vehicleImage img {
    height: 290px;
  }
  .leftLoginSection .vehicleImage {
    top: 60px;
    right: 27px;
  }
  .btn-compound {
    max-width: 200px;
    gap: 20px;
    top: 18px;
  }
  .loginTopsection {
    max-width: 490px;
    width: 100%;
    margin: auto;
    padding: 0;
  }
  .leftLoginSection {
    min-height: unset;
    order: 2;
  }
  .login-footerbtm {
    margin: 105px 0 0;
  }
  .pieChartGraph {
    height: auto;
  }
  .card.rounded.recentlyAlert .card-body {
    padding: 10px;
  }
  .pt-4.barGraph {
    height: auto;
  }
  .trackVinNumber {
    right: 112px;
  }
  /*=======================================================
      Vehicle Monitoring Page Design start
    ===============================================*/
  .VehicleMonitoring .card .vehicleTitle h4.card-title {
    font-size: 16px;
  }
  .tabVehicleSection.cardHeaderJustify {
    flex-direction: column;
    gap: 15px;
  }
  .search_table.form-group.has-search.position-relative {
    width: 100%;
  }
  .cardSubHead {
    width: 100%;
    gap: 5px;
  }
  .SummaryCardDetails .card .vehicleTitle h4.card-title {
    font-size: 16px;
  }
  .currentVehicleSection p {
    font-size: 0.875rem;
  }
  .currentVehicleSection p {
    font-size: 0.875rem;
  }
  .historyTab p {
    font-size: 0.875rem;
  }
  /* form CSS  */
  .contactForm-wrapper {
    flex-direction: column;
  }
  .footer-contents {
    justify-content: center;
  }
  .footersublink {
    margin: 10px auto;
    width: auto;
    max-width: 100%;
    position: unset;
    text-align: center;
  }
  .footersublink ul li {
    padding: 0 15px;
  }
  .VInNumberInput{
    margin-left: 0;
  }

.sumBox .card-title {
  min-height: 38px;
}
.tooltipBox:hover .showOnHover {
  left: 0 !important;
  width: 280px !important;
  margin: auto;
  top: 20% !important;
  position: fixed !important;
  right: 0;
}
.tooltipBox:hover .showOnHover::after {
  display: none !important;
}
.inner-LoginForm .mb-4 {
  position: relative;
  min-height: 78px;
  margin: 0 !important;
}
.inner-LoginForm .mb-4 .showError {
  position: absolute;
  bottom: 0;
  font-size: 0.75rem;
  top: unset;
}
span.passwordEye {
  bottom: 28px;
}
}
@media only screen and (max-width: 600px) {
  .backTopImg {
    background-position: -23px top;
}

  /* .tabVehicleSection.cardHeaderJustify .nav-tabs button.nav-link.firstTab,
  .tabVehicleSection.cardHeaderJustify .nav-tabs button.nav-link.lastTab,
  .tabVehicleSection.cardHeaderJustify .nav-tabs button.nav-link,
  .tabVehicleSection.cardHeaderJustify .nav-tabs .nav-link.active {
    border-radius: 5px ;
  } */
  ul.navbar-nav.ms-auto.d-flex.align-items-center.headerRight {
    gap: 10px;
  }
  .leftLoginSection .innerLeftSection {
    gap: 20px;
  }
  /*  Login   Page Design start */
  .loginTextSection h3 {
    font-size: 22px;
  }
  .btnIcons.btnOne p,
  .btnIcons.btnZero p {
    font-size: 0.875rem;
  }

  .logoHeader img {
    width: 200px;
  }
  .btn-compound {
    max-width: 185px;
    top: 18px;
  }
  .leftLoginSection .vehicleImage {
    top: 58px;
    right: -1px;
  }
  .leftLoginSection .vehicleImage img {
    height: 270px;
  }
  .loginTopsection {
    max-width: 430px;
    width: 100%;
    margin: auto;
    padding: 0;
  }
  .leftLoginSection .innerLeftSection {
    max-width: 525px;
    gap: 20px;
  }
  .login-footerbtm {
    margin: 85px 0 0;
  }
  .flexDirection {
    flex-direction: column;
    align-items: start;
  }
  /*=======================================================
      Dashboard Page Design start
    ===============================================*/
  .cardWrapper .card-header .cardMainHead {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
  .tabVehicleSection.cardHeaderJustify {
    flex-direction: column;
    gap: 15px;
  }
  /*=======================================================
      Vehicle Monitoring Page Design start
    ===============================================*/
  .topVehicleHead {
    flex-direction: column;
    display: flex;
    gap: 15px;
  }
  /*=======================================================
      Summary Page Design start
    ===============================================*/
  .cardHeaderJustify {
    flex-direction: column;
    gap: 15px;
  }
  .summaryCard.cardHeaderJustify {
    flex-direction: row;
  }
  .InnerTitleCard .tabVehicleSection.cardHeaderJustify ul li{
    width: auto;
  }
  .tabVehicleSection.cardHeaderJustify .nav-tabs {
    gap: 0;
  }
  .tabVehicleSection.cardHeaderJustify .nav-tabs button.nav-link.lastTab{
    border-radius: 0 5px 5px 0;
  }
  .tabVehicleSection.cardHeaderJustify .nav-tabs button.nav-link{
    border-radius: 0;
  }
 
  .cardMonitor {
    gap: 15px;
  }
  .currentVehicleSection {
    flex-direction: column;
  }
  .currentVehicleSection p {
    font-size: 0.875rem;
  }
  .historyTab p {
    font-size: 0.875rem;
  }
  span.titleLogo {
    display: none;
  }
  .logoHeader img {
    width: 150px !important;
  }
  .trackVinNumber {
    right: 25px;
}
.header-Design{
  padding: 10px;
}
.headerSection .navbar-btn_track {
  padding: 0 10px;
  width: auto;
  min-height: 40px;
  font-size: 0.75rem;
  line-height: 40px;
}
ul.navbar-nav.ms-auto.d-flex.align-items-center.headerRight {
  gap: 5px;
}
.forgotModelbox .modal-dialog {
  max-width: 400px;
  width: 100%;
  margin: auto;
}

}
@media only screen and (max-width: 480px) {
  .backTopImg {
    background-size: 400px;
    background-position: -18px top;
}
  .leftLoginSection .innerLeftSection {
    gap: 20px;
  }
  .loginTextSection h3 {
    line-height: 24px;
    font-size: 20px;
  }
  .authorityThreeBtn {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
  span.titleLogo {
    display: none;
  }
 .headerSection .calendar-date {
  position: absolute;
  top: 52px !important;
  width: 100%;
  right: 10px;
}
.headerSection .calendar-date .d-flex.align-items-center {
  display: flex !important;
  width: 100%;
  justify-content: flex-end;
}
  .logoHeader {
    padding: 0;
  }
  a.btn.btn-primary.navbar-btn_track:after {
    display: none;
  }
  .main-content {
    margin-top: 62px;
  }
  /*=======================================================
      Login   Page Design start
    ===============================================*/
  .logoHeader img {
    width: 150px !important;
  }
  .btnIcons.btnZero p,
  .btnIcons.btnOne p {
    font-size: 0.75rem;
  }
  .btnIcons img {
    width: 16px;
  }
  .loginTextSection {
    top: 25px;
  }
  .leftLoginSection .loginTextSection p {
    font-weight: normal;
    font-size: 0.625rem;
    line-height: 16px;
  }
  .leftLoginSection .loginTextSection h1 {
    font-size: 0.875rem;
  }
  .leftLoginSection .vehicleImage img {
    height: 170px;
  }
  .leftLoginSection .vehicleImage {
    top: 55px;
    right: -5px;
  }
  .btnIcons {
    padding: 3px 6px;
  }
  .leftLoginSection .loginTextSection .loginCheck i {
    font-size: 1.625rem;
  }
  .leftLoginSection .loginTextSection p.spanLine {
    font-size: 0.75rem;
  }
  .leftLoginSection .borderLoginRight {
    height: auto;
  }
  .loginCheck p {
    max-width: 90px;
  }
  .inner-LoginForm p {
    font-size: 0.75rem;
  }
  .btn-compound {
    max-width: 145px;
    gap: 10px;
    top: 30px;
    left: 15px;
    font-size: 0.75rem;
  }
  .rightLoginSection {
    max-width: 290px;
  }
  .rightLoginSection .headerText p {
    font-size: 0.75rem;
  }
  .leftLoginSection .innerLeftSection .btnleftLogin .loginTransparent i {
    font-weight: normal;
    font-size: 16px;
  }
  button.btn-yellow.btnZero i {
    font-weight: normal;
    font-size: 16px;
  }
  .loginTopsection {
    max-width: 310px;
  }
  .leftLoginSection .footerLogin p {
    font-size: 11px;
  }
  .login-footerbtm {
    margin: 40px 0 0;
  }
  /*=======================================================
      Dashboard Page Design start
    ===============================================*/
  .vinAlertGraph .card .cardVinAlert {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
  }
  .graphHeading {
    height: 20px;
  }
  /*=======================================================
      Vehicle Monitoring Page Design start
    ===============================================*/
  .tabVehicleSection.cardHeaderJustify .nav-tabs {
    gap: 10px;
  }
  .tabVehicleSection.cardHeaderJustify .nav-tabs button.nav-link.firstTab,
  .tabVehicleSection.cardHeaderJustify .nav-tabs button.nav-link.lastTab,
  .tabVehicleSection.cardHeaderJustify .nav-tabs button.nav-link,
  .tabVehicleSection.cardHeaderJustify .nav-tabs .nav-link.active {
    border-radius: 5px ;
  }
  .topVehicleHead {
    flex-direction: column;
    gap: 10px;
  }
  .currentVehicleSection {
    flex-direction: column;
    gap: 10px;
  }
  .cardInnerVehicle .CurrentDetails h5 {
    gap: 4px;
  }
  .cardMonitor {
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
  .historyTab p {
    font-size: 0.875rem;
  }
  .currentVehicleSection p {
    font-size: 0.875rem;
  }
  .pt-4.barGraph,
  .pieChartGraph {
    height: auto;
  }
  .currentVehicleSection {
    flex-direction: column;
  }
  /* form css */
  .footer-contents p {
    margin: 0 auto;
  }
  .headerSection ul.dropdown-menu.dropdown-menu-end.notification-dropdown {
    top: 53px;
    right: -55px;
    max-width: 300px;
    font-size: 0.875rem;
  }
  .paginationArea li.page-item span.page-link {
    padding: 8px 6px;
    font-size: 0.75rem;
  }
  .card.rounded.recentlyAlert .card-area p {
    font-size: 0.625rem;
  }
  .card.rounded.recentlyAlert .card-area h5 {
    font-size: 0.875rem;
  }
  .headerSection .notification-dot {
    height: 12px;
    width: 12px;
    padding: 10px;
  }
  .header-Design {
  padding: 5px 10px 20px;
}
.trackVinNumber {  
  max-width: 330px;
  padding: 15px;
}
.tabVehicleSection.cardHeaderJustify .nav-tabs .nav-link {
  padding: 4px 10px;
}
#main-content{
  padding-bottom: 20px;
}



}
