
        <div class="row">
          <div class="col-md-12">
            <div class="uploadArea">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title text-center"></h4>
                  <div class="uploadFile">
                    <div class="bg-diffrent">
                      <div class="container">
                        <div class="row justify-content-center">
                          <div class="col-xl-8">
                            <div class="file-upload-contain">
                              <label for="upload">Upload VIN CSV</label>
                              <input
                              id="upload"
                                type="file"
                                #fileInput
                                class="form-control customFileInput"
                                (change)="handleFileUpload($event)"
                              />
                            </div>
                            <div class="customBtn">
                              <button
                                class="btn btn-primary btn-block"
                                (click)="handleSubmit()"
                                [disabled]="!btnDisabled"
                              >
                                Submit
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
    <!-- <app-toast-notification
      *ngIf="toast.message"
      [type]="toast.type"
      [message]="toast.message"
      (reset)="resetToast()"
    ></app-toast-notification> -->
  </div>
  