<div class="row">
    <div class="col-lg-12 col-md-12 mb-4">
        <div class="cardWrapper">
            <div class="UserCardHeader cardMainHead">
                <h4 class="card-title">Summary VIN List & Alert Records</h4>
                <div class="cardSubHead">
                   
                    <div class="userSingleSearch">
                        <span class="VInNumberInput" *ngIf="searchHideShow">
                            <input type="text"  [(ngModel)]="searchValue"  (ngModelChange)="onType(searchValue)"   class="form-control" placeholder="Search VIN" />
                        </span>
                        <img alt="img"  src="assets/images/icons/search.svg" class="img-fluid" (click) = "getSearchVal()"/>
                    </div>
                    <div class="month-calendar userDashFilter">
                        <i class="material-symbols-outlined">filter_list</i><span>All Alert</span>
                        
                    </div>
                    <div class="month-calendar vehicleMonthSearch calendar-svg">
                        <img alt="img" src="assets/images/icons/calendar.svg" class="img-fluid"/>
                        <p><span>Jan 6, 2024 - Jun 13,2024</span></p>
                        
                    </div>
                    <div class="month-calendar vehicleMonthSearch calendar-svg">
                        <!-- <i class="material-symbols-outlined">cloud_download</i> -->
                        <img alt="img"  src="assets/images/icons/pdf.svg" class="img-fluid"/>
                        <span>Export PDF </span>
                    </div>
                </div>
            </div>
        
            <div class="card">
                <div class="card-body px-0 userdashbrdTable pt-0">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="table-light-Usertbl">
                                <tr>
                                    <th>VINs</th>
                                    <th>Year</th>
                                    <th>Make</th>
                                    <th>Alert Date</th>
                                    <th>State</th>
                                    <th>Details</th>
                 
                                </tr>
                            </thead>
                            <tbody>
                                @if(tableData.length > 0){
                                    @for(item of tableData;track $index){
                                <tr>
                                    <td><span class="vinModelName"> {{item?.vin}}</span></td>
                                    <td>2024</td>
                                    <td>{{item?.model}}</td>
                                    <td><span class="dor-red"></span>22 Jan 2024</td>
                                    <td>AA</td>
                                    <td><img alt="img" src="assets/images/icons/passport.svg"/></td>
                                </tr>
                                  }
                                }
                                @else{
                                    <tr>
                                        <td colspan="9" class="text-center">No data found</td>
                                    </tr> 
                                } 
                                        
                            </tbody>

                        </table>
                    </div>
                    <div class="paginationArea">
                        <ul class="pagination pagination-lg">
                            <li class="page-item">
                                <button type="button" class="page-link" (click)="onClick(page-1)" [disabled]="page==1" >Previous</button>
                            </li>
                            <li class="page-item">
                                <span class="page-link">{{page}} of {{totalPages}}</span>
                            </li>
                            <li class="page-item">
                                <button type="button" class="page-link" (click)="onClick(page+1)" [disabled]="page==totalPages" >Next</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Tooltip Component -->
        <!-- <app-tooltip id="my-tooltip"></app-tooltip> -->
        
    </div>
</div>