<div class="row">
    <div class="col-lg-12 col-md-12 mb-4">
        <div class="cardWrapper">
            <div class="UserCardHeader cardMainHead">
                <h4 class="card-title">Summary VIN List & Alert Records</h4>
                <div class="cardSubHead">
                   
                    <div class="userSingleSearch">
                        <span class="VInNumberInput" *ngIf="searchHideShow">
                            <input type="text"  [(ngModel)]="searchValue"  (ngModelChange)="onType(searchValue)"   class="form-control" placeholder="Search VIN" />
                        </span>
                        <img alt="img"  src="assets/images/icons/search.svg" class="img-fluid" (click) = "getSearchVal()"/>
                    </div>
                    <div class="month-calendar userDashFilter calendar-svg dropdownFilter" type="button" id="alertMenu" data-bs-toggle="dropdown" aria-expanded="false">
                        <img alt="img" [src]="filerIcon" class="img-fluid"/>
                        <span>All Alerts</span>

                        <ul class="dropdown-menu menuFilter" aria-labelledby="alertMenu">
                            <li><a class="dropdown-item" routerLink="#">All Alerts</a></li>
                            <li><a class="dropdown-item" routerLink="#">Under</a></li>
                            <li><a class="dropdown-item" routerLink="#">Read</a></li>
                          </ul>
                    </div>
                    
                    
                    <div class="month-calendar vehicleMonthSearch calendar-svg">
                        <img alt="img" [src]="calendarIcon" class="img-fluid"/>
                        <p><span>Jan 6, 2024 – Jul 13, 2024</span></p>
                        
                    </div>
                    <div class="month-calendar vehicleMonthSearch calendar-svg">
                        <img alt="img"  [src]="pdfIcon" class="img-fluid"/>
                        <span>Export PDF </span>
                        <i class="material-symbols-outlined">keyboard_arrow_down</i>
                    </div>
                </div>
            </div>
        
            <div class="card">
                <div class="card-body px-0 userdashbrdTable pt-0">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="table-light-Usertbl">
                                <tr>
                                    <th>VINs</th>
                                    <th>Year</th>
                                    <th>Make</th>
                                    <th>Alert Date</th>
                                    <th>State</th>
                                    <th>Details</th>
                 
                                </tr>
                            </thead>
                            <tbody>
                                @if(tableData.length > 0){
                                    @for(item of tableData;track $index){
                                <tr>
                                    <td><p><span class="vinModelName"> {{item?.vin}}</span></p></td>
                                    <td>{{ item?.modelYear | dateFormat: 'YYYY' }}</td>
                                    <td>{{item?.model}}</td>
                                    <td><span class="tableDot redDot"></span>{{ item?.alertDate | dateFormat: 'DD MM YYYY' }}</td>
                                    <td>{{item?.state}}</td>
                                    <td><img alt="img" src="assets/images/icons/passport.svg"/></td>
                                </tr>
                                  }
                                }
                                @else{
                                    <tr>
                                        <td colspan="9" class="text-center">No data found</td>
                                    </tr> 
                                } 
    
                                
                            </tbody>

                        </table>
                    </div>
                    <div class="paginationArea">
                        <ul class="pagination pagination-lg">
                            <li class="page-item">
                                <button type="button" class="page-link" (click)="onClick(page-1)" [disabled]="page==1" >Previous</button>
                            </li>
                            <li class="page-item">
                                <span class="page-link">Page {{page}} of {{totalPages}}</span>
                            </li>
                            <li class="page-item">
                                <button type="button" class="page-link" (click)="onClick(page+1)" [disabled]="page==totalPages" >Next</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Tooltip Component -->
        <!-- <app-tooltip id="my-tooltip"></app-tooltip> -->
        
    </div>
</div>