<header>
    <div class="frontHead">
        <nav class="navbar  navbar-expand navbar-light bg-navbar ">
            <div class="container">
                <div class="logoHeader">
                    <h3>
                        <img [src]="logo" class="img-fluid" alt="Logo" />
                        <span class='titleLogo'>Title Alarm</span>
                    </h3>
                </div>

                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto d-flex align-items-center">
                        <li class="nav-item me-4">
                            <a routerLink="/about-us">About us</a>
                        </li>
                    </ul>
                    <div>
                        <button type="button" class='LoginBtn' routerLink="/">Login</button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
