<div class="conatctwrapper">
<app-front-header></app-front-header>
<div class="container main-Container frontAboutUs">
    <div class="row">
      <div class="FormInnerContent">
        <div class="logoHeader loginLogoBottom">
          <h3>
            <img [src]="logo" class="img-fluid" alt="Logo">
            <span class="titleLogo">Title Alarm</span>
          </h3>
        </div>
        <div class="InnerForm">
          <div class="FormHead">
            <h2 class="text-center">Reset Password</h2>
            <p>Enter a new password below to change your password.</p>
          </div>
          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div class="mb-4">
              <label for="password" class="formLabel">Password</label>
              <input
                type="password"
                class="formInput"
                id="password"
                name="password"
                placeholder="*****"
                formControlName="password"
              />
                        
              <!-- General required error -->
              <div *ngIf="resetForm.controls['password'].touched && resetForm.controls['password'].errors?.['required']">
                <span class="text-danger">Password is required</span>
              </div>

              <!-- Specific errors -->
              <div *ngIf="resetForm.controls['password'].errors?.['tooShort']">
                <span class="text-danger"> - At least 6 characters long</span>
              </div>
              <div *ngIf="resetForm.controls['password'].errors?.['missingUppercase']">
                <span class="text-danger"> - At least one uppercase letter</span>
              </div>
              <div *ngIf="resetForm.controls['password'].errors?.['missingNumber']">
                <span class="text-danger"> - At least one number</span>
              </div>
              <div *ngIf="resetForm.controls['password'].errors?.['missingSpecial']">
                <span class="text-danger"> - At least one special character </span>
              </div>              
            </div>
            <div class="mb-4">
              <label for="confirmPassword" class="formLabel">Confirm Password</label>
              <input
                type="password"
                class="formInput"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="*******"
                formControlName="confirmPassword"
              />
              <div *ngIf="resetForm.controls['confirmPassword'].touched && resetForm.controls['confirmPassword']?.errors?.['required']">
                <span class="text-danger">Confirm Password is required</span>
              </div>
               
            </div>
            <div class="input-group signin_btn">
              <button
                type="submit"
                class="btn btn-lg btn-primary"
                [disabled]="resetForm.invalid"
              >
                Reset Password
              </button>
            </div>
          </form>
        </div>
      </div>
</div>
</div>
<app-front-footer></app-front-footer>
</div>