<div class="conatctwrapper">
<app-front-header></app-front-header>
<div class="container main-Container frontAboutUs">
    <div class="row">
      <div class="FormInnerContent">
       
        <div class="InnerForm">
          <div class="FormHead">
            <h2 class="text-center">Reset Password</h2>
            <p>Enter a new password below to change your password.</p>
          </div>
          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div class="mb-4 passwordFiled">
              <label for="password" class="formLabel">Password</label>
              <div class="passwordEye-container">
                <input
                [type]="eye?'text':'password'"
                class="formInput"
                id="password"
                name="password"
                placeholder="********"
                formControlName="password"
              />
              <span class="passwordEye"><i *ngIf="!eye" class="material-symbols-outlined" (click)="showPwd()">visibility_off</i><i *ngIf="eye" (click)="showPwd()" class="material-symbols-outlined">visibility</i></span>
              
              </div>          
              <!-- General required error -->
              <div *ngIf="resetForm.controls['password'].touched && resetForm.controls['password'].errors?.['required']">
                <span class="text-danger">Password is required</span>
              </div>

              <!-- Specific errors -->
              <div class="errorBox" *ngIf="resetForm.controls['password'].value && (resetForm.controls['password'].dirty || resetForm.controls['password'].touched) && resetForm.controls['password'].errors as errors">
                <div>
                  <span [class.text-danger]="errors['tooShort']" 
                        [class.text-success]="!errors['tooShort']">
                    {{ errors['tooShort'] ? '&#x2715;' : '&#x2714;' }} - At least 8 characters long
                  </span>
                </div>
                <div>
                  <span [class.text-danger]="errors['missingUppercase']" 
                        [class.text-success]="!errors['missingUppercase']">
                    {{ errors['missingUppercase'] ? '&#x2715;' : '&#x2714;' }} - At least one uppercase letter
                  </span>
                </div>
                <div>
                  <span [class.text-danger]="errors['missingLowercase']" 
                        [class.text-success]="!errors['missingLowercase']">
                    {{ errors['missingLowercase'] ? '&#x2715;' : '&#x2714;' }} - At least one lowercase letter
                  </span>
                </div>
                <div>
                  <span [class.text-danger]="errors['missingNumber']" 
                        [class.text-success]="!errors['missingNumber']">
                    {{ errors['missingNumber'] ? '&#x2715;' : '&#x2714;' }} - At least one number
                  </span>
                </div>
                <div>
                  <span [class.text-danger]="errors['missingSpecial']" 
                        [class.text-success]="!errors['missingSpecial']">
                    {{ errors['missingSpecial'] ? '&#x2715;' : '&#x2714;' }} - At least one special character
                  </span>
                </div>
              </div>              
              
            </div>
            <div class="mb-4 passwordFiled">
              <label for="confirmPassword" class="formLabel">Confirm Password</label>
               <div class="passwordEye-container">
                <input
                [type]="ceye?'text':'password'"
                class="formInput"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="********"
                formControlName="confirmPassword"
              />
              <span class="passwordEye"><i *ngIf="!ceye" class="material-symbols-outlined" (click)="showConfirmPwd()">visibility_off</i><i *ngIf="ceye" (click)="showConfirmPwd()" class="material-symbols-outlined">visibility</i></span>
              
              </div>
              <div *ngIf="resetForm.controls['confirmPassword'].touched && resetForm.controls['confirmPassword']?.errors?.['required']">
                <span class="text-danger">Confirm Password is required</span>
              </div>
              
            </div>
            <div class="input-group signin_btn">
              <button
                type="submit"
                class="btn btn-lg btn-primary"
                [disabled]="resetForm.invalid"
              >
                Reset Password
              </button>
            </div>
          </form>
        </div>
      </div>
</div>
</div>
<app-front-footer></app-front-footer>
<app-loader [IsLoading]="isLoading"></app-loader>
</div>
